<patTemplate:tmpl name="_widget">
<script type="text/javascript">
<!--
function updateItem(){
	if (!window.confirm('設定を更新しますか?')) return false;
	document.main.act.value='update';
	document.main.submit();
	return true;
}
$(document).ready(function(){
	m3_setHtmlEditor('item_content', true);
});
// -->
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="act" />
<table class="simple-table">
    <tbody>
        <tr>
	    <td class="table-head" width="100">内容</td><td width="800" height="200"><textarea name="item_content">{CONTENT}</textarea></td>
	</tr>
        <tr class="even">
	    <td colspan="2" align="right"><input type="button" class="button" onclick="updateItem();" value="更新" /></td>
	</tr>
    </tbody>
</table>
</form>
</div>
</patTemplate:tmpl>
