.product_outer {
	margin: 10px;
}
div.product_image {
	margin: 0;
}
div.product_name {
	margin: 1px 10px;
}
div.product_code {
	margin: 1px 10px;
}
div.product_price {
	margin: 1px 10px;
}
div.product_description {
	margin: 1px 10px;
}
