<patTemplate:tmpl name="_widget">
<div style="{LINK_STYLE_TOP}">更新[5]&nbsp;{REGIST_NAME}</div>
<!-- m3:ErrorMessage -->
<patTemplate:tmpl name="thread_area">
<div class="message_list">
<div>{AVATAR}&nbsp;{NAME}</div>
<div>{THREAD_MESSAGE}</div>
<div><span style="font-size:x-small;">{DATE}</span><span style="font-size:x-small;">&nbsp;{ID}&nbsp;{THREAD_MESSAGE_COUNT}</span></div>
</div>
<hr />
</patTemplate:tmpl>
<patTemplate:tmpl name="message_list">
<div class="message_list">
<div>{AVATAR}&nbsp;{NAME}</div>
<div>{MESSAGE}</div>
<div><span style="font-size:x-small;">{DATE}</span><span style="font-size:x-small;">&nbsp;{ID}</span></div>
</div>
{SPACER}
</patTemplate:tmpl>
<patTemplate:tmpl name="no_message_area" visibility="hidden"><div>返信ﾒｯｾｰｼﾞがありません</div></patTemplate:tmpl>
<div style="{LINK_STYLE_INNER_BOTTOM}">{PAGE_LINK}</div>
<patTemplate:tmpl name="add_area" visibility="hidden">
<div><span style="font-size:x-small;">&nbsp;</span></div>
<form action="{CURRENT_URL}" method="post" class="form">
    <input type="hidden" name="task" value="thread" />
    <input type="hidden" name="act" value="{ACT}" />
    <input type="hidden" name="ticket" value="{TICKET}" />
    <input type="hidden" name="memberid" value="{MEMBER_ID}" />
    <textarea rows="5" name="message">{MESSAGE}</textarea><br />
    <div align="center" style="text-align:center;"><input type="submit" value="投稿" /></div>
</form>
</patTemplate:tmpl>
<div><span style="font-size:x-small;">&nbsp;</span></div>
<div style="{LINK_STYLE_BOTTOM}">
<a href="{CURRENT_URL}" accesskey="5">更新[5]</a>&nbsp;{REGIST_LINK}<br />
<a href="{TOP_URL}" accesskey="0">ﾌﾞﾛｸﾞﾎｰﾑに戻る[0]</a></div>
</patTemplate:tmpl>
