<patTemplate:tmpl name="_widget">
<script type="text/javascript">
<!--
function newItem(){
    document.main.task.value = 'detail';
    document.main.act.value = 'new';
    document.main.submit();
    return true;
}
function editItem(){
    if (document.main.seriallist.value){
        var items = document.main.seriallist.value.split(",");
	for (var i = 0; i < items.length; i++){
	    var name = "document.main.item" + i + "_selected";
	    var itemObj = eval(name);
	    // チェックありのときは終了
	    if (itemObj && itemObj.checked) break;
	}
	if (i == items.length){			
	    window.alert('編集する項目を選択してください');
	} else {
            document.main.task.value = 'detail';
            document.main.act.value = 'edit';
	    document.main.serial.value = items[i];
            document.main.submit();
	}
    }
    return true;
}
function editItemBySerial(serial){
    document.main.task.value = 'detail';
    document.main.act.value = 'edit';
    document.main.serial.value = serial;
    document.main.submit();
}
function delItem(){
    if (document.main.seriallist.value){
        var items = document.main.seriallist.value.split(",");
	for (var i = 0; i < items.length; i++){
	    var name = "document.main.item" + i + "_selected";
	    var itemObj = eval(name);
	    // チェックありのときは終了
	    if (itemObj && itemObj.checked) break;
	}
	if (i == items.length){			
	    window.alert('削除する項目を選択してください');
	} else {
            if (!window.confirm('選択項目を削除しますか?')) return false;
            document.main.act.value = 'delete';
            document.main.submit();
	}
    }
    return true;
}
function editContent(edit_widgetid, id){
    window.open("{ADMIN_URL}?cmd=configwidget&openby=simple&widget=" + edit_widgetid + "&task=detail&contentid=" + id,"","toolbar=no,menubar=no,location=no,status=no,scrollbars=yes,resizable=yes,width=1000,height=900");
    return false;
}
function showUrl(url){
    window.open(url,"","toolbar=no,menubar=no,location=no,status=no,scrollbars=yes,resizable=yes,width=1000,height=900");
    return false;
}
var sortableUpdate = function(e, ui){
	var menuitems = m3_parseSortableBoxIndex($('#sortable_box').sortable('toArray'));
	document.main.menuitems.value = menuitems;
	document.main.act.value = 'updatemenu';
	document.main.submit();
};
$(document).ready(function(){
	var els = ['#sortable_box'];
	var $els = $(els.toString());
	
	$els.sortable({
		items: '> dl',
		handle: 'dt',
		cursor: 'move',
		opacity: 0.8,
		connectWith: els,
		start: function(e,ui){
			ui.helper.css("width", ui.item.width());
		},
		update: sortableUpdate
	});
});
$(function(){
	// スクロールバー付きのテーブルを作成
	m3_tableWithScrollbar('menuitemlist', -1, 0);
	
	// メニューレイアウトボックス作成
	m3_sortableBox('sortable_box');
});
// -->
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" value="list" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" />
<input type="hidden" name="seriallist" value="{SERIAL_LIST}" />
<input type="hidden" name="menuitems" />
<table width="90%">
<tr><td><label>メインメニュー項目一覧</label></td>
<td align="right"><input type="button" class="button" onclick="newItem();" value="新規" /><input type="button" class="button" onclick="editItem();" value="編集" /><input type="button" class="button" onclick="delItem();" value="削除" />
</td></tr>
<tr><td colspan="2">
<table id="menuitemlist" class="simple-table" width="100%">
    <thead>
        <tr>
            <th width="40px">選択</th>
            <th width="100px">名前</th>
	    <th width="500px">リンク先URL</th>
	    <th width="50px">公開</th>
	    <th width="80px">リンク有効</th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
        <patTemplate:tmpl name="itemlist">
        <tr {LINE_COLOR}>
	    <td align="center"><input type="checkbox" name="item{INDEX}_selected" /></td>
	    <td><a href="#" onclick="editItemBySerial({SERIAL});">{NAME}</a></td>
	    <td>{LINK_STR}</td>
	    <td align="center"><input type="checkbox" disabled {VISIBLE} /></td>
	    <td align="center"><input type="checkbox" disabled {ENABLE} /></td>
	    <td align="center"><input type="button" class="button" onclick="editContent('{EDIT_WIDGET_ID}', '{CONTENT_ID}');" value="コンテンツを編集" {ENABLE_CONTENT} /></td>
	</tr>
	</patTemplate:tmpl>
    </tbody>
</table>
<br />
</td></tr>
</table>

<!-- 下部 start -->
<table width="90%"><tr valign="top"><td>
<div id="sortable_box">
	<h1>メニューレイアウト</h1>
	<patTemplate:tmpl name="menuitemlist">
	<dl>
		<dt>{NAME}</dt>
	</dl>
	</patTemplate:tmpl>
</div>
<label>マウスドラッグで項目の表示順を変更できます</label>
</td></tr>
</table>
<!-- 下部 end -->
</form>
</div>
</patTemplate:tmpl>
