/* begin Page */

/* Created by TechLine IT-Service */

img
{
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = GetStyleUrl()+"../images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
/* end Page */

/* begin Box, Sheet */
.Sheet, .Sheet-body
{
	zoom:1;
}

.Sheet-body
{
	position:static;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	font-size: 1px;
	background: none;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Sheet-s.png',sizingMethod='scale')");
}

.Sheet-tl
{
	clip: rect(auto 72px 72px auto);
}

.Sheet-tr
{
	left: expression(this.parentNode.offsetWidth-144+'px');
	clip: rect(auto auto 72px 72px);
}

.Sheet-bl
{
	top: expression(this.parentNode.offsetHeight-144+'px');
	clip: rect(72px 72px auto auto);
}

.Sheet-br
{
	top: expression(this.parentNode.offsetHeight-144+'px');
	left: expression(this.parentNode.offsetWidth-144+'px');
	clip: rect(72px auto auto 72px);
}

.Sheet-tc, .Sheet-bc
{
	width: expression(this.parentNode.offsetWidth-144+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Sheet-h.png',sizingMethod='scale')");
}

.Sheet-tc
{
	clip: rect(auto auto 72px auto);
}

.Sheet-bc
{
	top: expression(this.parentNode.offsetHeight-144+'px');
	clip: rect(72px auto auto auto);
}

.Sheet-cr, .Sheet-cl
{
	height: expression(this.parentNode.offsetHeight-144+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Sheet-v.png',sizingMethod='scale')");
}

.Sheet-cr
{
	left: expression(this.parentNode.offsetWidth-144+'px');
	clip: rect(auto auto auto 72px);
}

.Sheet-cl
{
	clip: rect(auto 72px auto auto);
}

.Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-144+'px');
	height: expression(this.parentNode.offsetHeight-144+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Sheet-c.png',sizingMethod='scale')");
}
.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	width:expression(document.body.clientWidth > 900 ? "100%" : "900px");
}
/* end Box, Sheet */

/* begin Menu */

.artmenu ul
{
	height: 1%;
	width:1px;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 5px;
	left: 100%;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.nav
{
	zoom: 1;
}

.nav .l, .nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/nav.png',sizingMethod='crop')");
}

.nav .l
{
	width: expression(this.parentNode.offsetWidth-23+'px');;
}

.nav .r
{
	left: expression(this.parentNode.offsetWidth-868+'px');
	clip: rect(auto auto auto 845px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a
{
	float:left;
}

.artmenu a:hover
{
	visibility:visible;
}

.artmenu a .r, .artmenu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/MenuItem.png',sizingMethod='crop')");
}

.artmenu a .r
{
	left: expression(this.parentNode.offsetWidth-400+'px');
	clip: rect(auto auto auto 400px);
}

.artmenu a .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.artmenuhover .artmenuhoverA .t
{
	color: #453A16;
}

.artmenuhover .artmenuhoverA .l, .artmenuhover .artmenuhoverA .r
{
	top: -25px;
}
/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	font-size: 1px;
	zoom:1;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/MenuSeparator.png',sizingMethod='crop')");
}
/* end MenuSeparator */

/* begin MenuSubItem */

.artmenu ul a
{
	color: #51511F !important;
}

.artmenu ul a:hover {
	color: #000000 !important;
}	

.artmenu ul .artmenuhover .artmenuhoverA
{
	color: #000000 !important;
	border-color: #CCB361;
	background-position: 0 -32px;
}

.nav .artmenu ul a:hover span, .nav .artmenu ul a:hover span span
{
	color: #000000 !important;
}	

.nav .artmenu ul .artmenuhover .artmenuhoverA span, .nav .artmenu ul .artmenuhover .artmenuhoverA span span
{
	color: #000000 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.Block, .Block-body
{
	zoom:1;
}

.Block-body
{
	position:static;
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader, .BlockHeader
{
	font-size: 1px;
}
.BlockHeader .l, .BlockHeader .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockHeader.png',sizingMethod='crop')");
}

.BlockHeader .r
{
	left: expression(this.parentNode.offsetWidth-868+'px');
	clip: rect(auto auto auto 868px);
}

.BlockHeader .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent, .BlockContent-body
{
	zoom:1;
}

.BlockContent-body
{
	position:static;
}

.BlockContent-tr, .BlockContent-tl, .BlockContent-br, .BlockContent-bl, .BlockContent-tc, .BlockContent-bc,.BlockContent-cr, .BlockContent-cl
{
	font-size: 1px;
	background: none;
}

.BlockContent-tr, .BlockContent-tl, .BlockContent-br, .BlockContent-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockContent-s.png',sizingMethod='crop')");
}

.BlockContent-tl
{
	clip: rect(auto 1px 1px auto);
}

.BlockContent-tr
{
	left: expression(this.parentNode.offsetWidth-2+'px');
	clip: rect(auto auto 1px 1px);
}

.BlockContent-bl
{
	top: expression(this.parentNode.offsetHeight-2+'px');
	clip: rect(1px 1px auto auto);
}

.BlockContent-br
{
	top: expression(this.parentNode.offsetHeight-2+'px');
	left: expression(this.parentNode.offsetWidth-2+'px');
	clip: rect(1px auto auto 1px);
}

.BlockContent-tc, .BlockContent-bc
{
	width: expression(this.parentNode.offsetWidth-2+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockContent-h.png',sizingMethod='crop')");
}

.BlockContent-tc
{
	clip: rect(auto auto 1px auto);
}

.BlockContent-bc
{
	top: expression(this.parentNode.offsetHeight-2+'px');
	clip: rect(1px auto auto auto);
}

.BlockContent-cr, .BlockContent-cl
{
	height: expression(this.parentNode.offsetHeight-2+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockContent-v.png',sizingMethod='crop')");
}

.BlockContent-cr
{
	left: expression(this.parentNode.offsetWidth-2+'px');
	clip: rect(auto auto auto 1px);
}

.BlockContent-cl
{
	clip: rect(auto 1px auto auto);
}

.BlockContent-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-2+'px');
	height: expression(this.parentNode.offsetHeight-2+'px');
}

.BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post, .Post-body
{
	zoom:1;
}

.Post-body
{
	position:static;
}

.Post-tr, .Post-tl, .Post-br, .Post-bl, .Post-tc, .Post-bc,.Post-cr, .Post-cl
{
	font-size: 1px;
	background: none;
}

.Post-tr, .Post-tl, .Post-br, .Post-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-s.png',sizingMethod='scale')");
}

.Post-tl
{
	clip: rect(auto 13px 13px auto);
}

.Post-tr
{
	left: expression(this.parentNode.offsetWidth-26+'px');
	clip: rect(auto auto 13px 13px);
}

.Post-bl
{
	top: expression(this.parentNode.offsetHeight-26+'px');
	clip: rect(13px 13px auto auto);
}

.Post-br
{
	top: expression(this.parentNode.offsetHeight-26+'px');
	left: expression(this.parentNode.offsetWidth-26+'px');
	clip: rect(13px auto auto 13px);
}

.Post-tc, .Post-bc
{
	width: expression(this.parentNode.offsetWidth-26+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-h.png',sizingMethod='scale')");
}

.Post-tc
{
	clip: rect(auto auto 13px auto);
}

.Post-bc
{
	top: expression(this.parentNode.offsetHeight-26+'px');
	clip: rect(13px auto auto auto);
}

.Post-cr, .Post-cl
{
	height: expression(this.parentNode.offsetHeight-26+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-v.png',sizingMethod='scale')");
}

.Post-cr
{
	left: expression(this.parentNode.offsetWidth-26+'px');
	clip: rect(auto auto auto 13px);
}

.Post-cl
{
	clip: rect(auto 13px auto auto);
}

.Post-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-26+'px');
	height: expression(this.parentNode.offsetHeight-26+'px');
	background-color: #639546;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.Post ul li, .Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/PostBullets.png',sizingMethod='crop')");
}

.Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.Button
{
	display:list-item;
	list-style-type:none;
	float:left;
}

.Button, .Button .btn, .Button .btn .l, .Button .btn .r
{
	font-size: 1px;
}

.Button .btn .t
{
	display:inline-block;
}

.Button .btn .l, .Button .btn .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Button.png',sizingMethod='crop')");
}

.Button .btn .r
{
	left: expression(this.parentNode.offsetWidth-403+'px');
	clip: rect(auto auto auto 398px);
}

.Button .btn .l
{
	width: expression(this.parentNode.offsetWidth-5+'px');
}

/* end Button */

/* begin Footer */
.Footer .Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

.rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/livemarks.png',sizingMethod='crop')");
}

/* end Footer */



form#form-login ul li
{ 
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
