/* begin Page */

/* Created by Artisteer v2.6.0.35927 */

body
{
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover,
.art-blockheader .t, .art-vmenublockheader .t, .art-logo-text, .art-logo-text a,
h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  text-align: left;
  letter-spacing: 3px;
}

a
{
  text-decoration: underline;
}

a:link
{
  text-decoration: underline;
}



a:hover, a.hover
{
  text-decoration: none;
}



h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-size: 20px;
  letter-spacing: 2px;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-size: 18px;
  letter-spacing: 2px;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-size: 14px;
  letter-spacing: 2px;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-size: 12px;
  letter-spacing: 2px;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 12px;
  letter-spacing: 2px;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

#art-page-background-glare, #art-page-background-middle-texture, #art-page-background-top-texture
{
  display: none;
}

.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Post */
.art-post
{
  margin: 10px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
  width: auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
  background-color: Transparent;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #eeeeee;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-postheader
{
  margin: 0.2em 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
  margin-top: 12px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}/* end PostHeaderIcon *//* begin PostHeader */
{LinkFont}

{VisitedLinkFont}

{HoveredLinkFont}

/* end PostHeader */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons
{
  padding: 1px;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  font-size: 11px;
}

.art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  margin: 0;
}

.art-postheadericons a:link
{
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  letter-spacing: 1px;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  text-decoration: underline;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.art-postcontent p
{
  margin: 0.5em 0;
}
{TextFont}


.art-postcontent
{
  margin: 0;
}
/* end PostContent */

/* begin PostBullets */
ol, ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
  text-align: left;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

li
{
  margin: 0.2em 0;
  padding: 0;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;

}



.art-post li
{
  padding: 0 0 0 12px;
  line-height: 1em;
}

.art-post ol li, .art-post ul ol li
{
  background: none;
  padding-left: 0;
}

.art-post ul li, .art-post ol ul li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 12px;
}


/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote p,
.art-postcontent blockquote p
{
  font-style: italic;
  text-align: left;
}

blockquote,
.art-postcontent blockquote
{
  margin: 10px 10px 10px 50px;
  padding: 5px 5px 5px 27px;
}

/* end PostQuote */

/* begin PostMetadata, PostMetadataFooter */
.art-postmetadatafooter
{
  padding: 1px;
}
/* end PostMetadata, PostMetadataFooter */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons
{
  padding: 1px;
}

.art-postfootericons, .art-postfootericons a, .art-postfootericons a:link, .art-postfootericons a:visited, .art-postfootericons a:hover
{
  font-size: 11px;
  text-decoration: none;
}

.art-postfootericons a, .art-postfootericons a:link, .art-postfootericons a:visited, .art-postfootericons a:hover
{
  margin: 0;
}

.art-postfootericons a:link
{
  font-style: normal;
  font-weight: bold;
}



.art-postfootericons a:hover, .art-postfootericons a.hover
{
  text-decoration: underline;
}/* end PostIcons, PostFooterIcons */