<patTemplate:tmpl name="_widget">
<script type="text/javascript">
<!--
function updateItem(){
    if (!window.confirm('設定を更新しますか?')) return false;
    document.main.act.value = 'update';
    document.main.submit();
    return true;
}
// -->
</script>
<div align="center">
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="act" />
<table width="100%">
<tr><td align="left"></td></tr>
</table>
<table class="simple-table" border="0" cellpadding="0" cellspacing="0" align="center">
<caption>お問い合わせ設定</caption>
    <tbody>
        <tr>
	    <td class="table-head" style="text-align:left;">メール送信機能を使用</td>
	    <td><input type="checkbox" name="send_message" {SEND_MESSAGE}></td>
	</tr>
        <tr class="even">
	    <td class="table-head" style="text-align:left;">受信者のメールアドレス<br />空の場合はサイト情報のE-mailアドレス</td>
	    <td><input type="text" name="email_receiver" value="{EMAIL_RECEIVER}" size="25" maxlength="40" /></td>
	</tr>
        <tr>
	    <td class="table-head" style="text-align:left;">入力フィールドの表示 - 会社名</td>
	    <td><input type="checkbox" name="company_visible" {COMPANY_VISIBLE} /></td>
	</tr>
        <tr class="even">
	    <td class="table-head" style="text-align:left;">入力フィールドの表示 - 住所</td>
	    <td><input type="checkbox" name="address_visible" {ADDRESS_VISIBLE} /></td>
	</tr>
        <tr>
	    <td class="table-head" style="text-align:left;">入力フィールドの表示 - 電話番号</td>
	    <td><input type="checkbox" name="tel_visible" {TEL_VISIBLE} /></td>
	</tr>
	<tr class="even">
	<td></td>
	<td align="right">
		<input type="button" class="button" onclick="updateItem();" value="更新" />
	</td>
	</tr>
    </tbody>
</table>

</form>
</div>
</patTemplate:tmpl>
