<patTemplate:tmpl name="_widget">
<form action="{URL}" method="post" class="form">
{MSG}
携帯キャリア：{CARRIER}<br />
携帯機種：{TYPE}<br />
端末ID：{SERIAL}<br /><br />
メッセージ送信<br />
<input type="text" name="msg" size="20" maxlength="20" /><br />
<input type="text" name="msg2" size="16" maxlength="16" /><input type="submit" value="送信" /><br />
</form><br />
ファイルアップロード<br />
<form action="{URL}" enctype="multipart/form-data" method="post">
<input type="file" name="upfile" size="50" /><br />
<input type="submit" value="送信" />
</form><br />
<a href="{HOME_URL}">ホーム</a>
</patTemplate:tmpl>
