.reguser_control label {
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}
.reguser_control span.title {
	display:inline-block;
	padding-right:6px;
	width:120px;
	text-align:right;
	font-weight:bold;
}
.reguser_control span.title.top {
	vertical-align:top;
}
.reguser_control .file-uploader {
	margin-left:120px;
}
.reguser_control img.avatar {
	margin:0;
}
.reguser_control input[type=text] {
	width:120px;
}
.reguser_control input[type=password] {
	width:120px;
}
