<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function selectMenu(){
	document.main.submit();
	return true;
}
// デザイン画面、プレビュー再表示
function refreshAllWindow(){
	var adminUrl = document.main.adminurl.value;
	var urlwithsession = document.main.urlwithsession.value;
	document.getElementById("preview").src = adminUrl + '&cmd=showpositionwithwidget';
	document.getElementById("preview2").src = urlwithsession;
}
// プレビュー再表示
function refreshPreviewWindow(){
	var urlwithsession = document.main.urlwithsession.value;
	if (urlwithsession.endsWith(".php")){
		urlwithsession += '?cmd=preview';
	} else {
		urlwithsession += '&cmd=preview';
	}
	document.getElementById("preview2").src = urlwithsession;
}
function hidePreviewWindow(){
	document.getElementById("preview2").src = '';
}
// プレビューを別ウィンドウで表示
function previewInOtherWindow()
{
	m3ShowPreviewWindow(1, "{URL}");
	return true;
}
// 詳細定義画面の表示
function showDetail(){
	document.main.task.value = 'pagedef_detail';
	document.main.submit();
	return true;
}
function m3UpdateByChildWindow(serial)
{
	//refreshPreviewWindow();
}
function showimage() {
	var selVal = getSelectedValue( 'main', 'sel_template' );
	document.images.templatepreview.src = '{_ROOT_URL}/templates/' + selVal + '/template_thumbnail.png';
}
function getSelectedValue( frmName, srcListName ) {
	var form = eval( 'document.' + frmName );
	var srcList = eval( 'form.' + srcListName );

	i = srcList.selectedIndex;
	if (i != null && i > -1) {
		return srcList.options[i].value;
	} else {
		return null;
	}
}
// テンプレートを選択
function changeTemplate()
{
	document.main.act.value = 'changetemplate';
	document.main.submit();
}
function maximizeLayout(){
	window.location.href = '{ADMIN_URL}&cmd=showpositionwithwidget&task=pagedef_mobile';
}
$(document).ready(function(){
	// タブを作成
	$("#switch_layout").tabs({
		select: function(event, ui){
			if (ui.panel.id == 'panel_layout'){
				$('#layoutmax').css('display', '');
				hidePreviewWindow();
			} else {
				$('#layoutmax').css('display', 'none');
				refreshPreviewWindow();
			}
			return true;
		}
	});
	
	// レイアウト画面最大化キー登録
	$(document).keyup(function(e){
		if (e.which == 27) maximizeLayout();	// ESCキー
	});
});
//]]>
</script>
<div align="center">
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" value="pagedef_mobile" />
<input type="hidden" name="act" />
<input type="hidden" name="url" value="{URL}" />
<input type="hidden" name="urlwithsession" value="{URL_WITH_SESSION}" />
<input type="hidden" name="adminurl" value="{ADMIN_URL}" />
<table>
<tr><td valign="top">
<!-- head area start -->
<table width="100%"><tr><td>
<table class="simple-table" width="100%"><!-- page id start -->
<tr><td class="table-headside" width="100"><span {_HELP_PAGEDEF_PAGE_ID}>{_LC_LABEL_PAGE_ID}</span></td>
<patTemplate:tmpl name="hide_page_id" visibility="hidden"><!-- page id select start -->
<td>
    <select name="pageid" onchange="selectMenu();">
        <patTemplate:tmpl name="main_id_list">
        <option value="{VALUE}" {SELECTED}>{NAME}</option>
        </patTemplate:tmpl>
    </select>
</td>
<td class="table-headside" width="100"><span {_HELP_PAGEDEF_PAGE_SUB_ID}>{_LC_LABEL_PAGE_SUB_ID}</span></td>
</patTemplate:tmpl><!-- page id select end -->
<td width="500" colspan="2">
    <select name="pagesubid" onchange="selectMenu();">
        <patTemplate:tmpl name="sub_id_list">
        <option value="{VALUE}" {SELECTED}>{NAME}</option>
        </patTemplate:tmpl>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;{CONTENT_TYPE}
<!--<span {_HELP_PAGEDEF_DETAIL_BTN}><input type="button" class="button" onclick="showDetail();" value="{_LC_LABEL_SHOW_DETAIL}" /></span>--></td></tr>
<tr class="even"><td class="table-headside" width="100"><span {_HELP_PAGEDEF_PREVIEW_URL}>URL</span></td><td {PAGE_ID_COL}>
<input type="text" value="{URL}" style="width:100%;" readonly />
</td></tr>
</table><!-- page id end -->
</td><td>
<table class="simple-table"><!-- select template -->
<tr><td class="table-headside"><span {_HELP_PAGEDEF_DEFAULT_TEMPLATE}>{_LC_LABEL_DEFAULT_TEMPLATE}</span>
</td>
<td rowspan="2"><span {_HELP_PAGEDEF_TEMPLATE_IMG}><img src="{TMPL_IMAGE}" name="templatepreview" border="1" width="70" height="45" /></span></td>
</tr>
<tr class="even"><td>
	    <select name="sel_template" onchange="showimage();">
	        <patTemplate:tmpl name="sel_template_list">
	        <option value="{VALUE}" {SELECTED}>{NAME}</option>
	        </patTemplate:tmpl>
	    </select><span {_HELP_PAGEDEF_CHANGE_TEMPLATE_BTN}><input class="button" type="submit" value="{_LC_LABEL_CHANGE_TEMPLATE}" onclick="changeTemplate();" /></span>
</td></tr>
</table><!-- select template -->
</td></tr>
</table>
<!-- head area end -->
</td></tr>
<tr><td>
<!-- bottom area start -->
            <div id="switch_layout" style="width:506px;"><ul>
	    <li><a href="#panel_layout"><span>{_LC_LABEL_LAYOUT}</span></a></li>
	    <li><a href="#panel_preview"><span>{_LC_LABEL_PREVIEW}</span></a></li>
<div align="right">
<span {_HELP_PAGEDEF_MAXIMIZE_BTN}><input type="button" id="layoutmax" class="button" onclick="maximizeLayout();" value="{_LC_LABEL_MAXIMIZE}" /></span>
<span {_HELP_PAGEDEF_PREVIEW_BTN}><input type="button" id="previewother" class="button" onclick="previewInOtherWindow();" value="{_LC_LABEL_PREVIEW_IN_OTHER_WINDOW}" /></span>
</div>
	    </ul>
<div id="panel_layout" style="padding:3px;">
    <iframe id="preview" name="preview" style="width:500px; height:2000px; border:0;" src="{ADMIN_URL}&cmd=showpositionwithwidget" >{_LC_LABEL_SITE_PREVIEW}</iframe>
</div>
<div id="panel_preview" style="padding:3px;">
    <iframe id="preview2" name="preview2" style="width:500px; height:2000px; border:0;">{_LC_LABEL_SITE_PREVIEW}</iframe>
</div>
	    </div>
<!-- bottom area end -->
</td></tr>
</table>

</form>
</div>
</patTemplate:tmpl>
