<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function updateline(lineNo, serialNo){
	if (!window.confirm('{_LC_MSG_UPDATE_LINE}')) return false;
	document.main.act.value = 'updateline';
	document.main.no.value = lineNo;
	document.main.serial.value = serialNo;
	document.main.submit();
	return true;
}
function deleteline(lineNo, serialNo){
	if (!window.confirm('{_LC_MSG_DELETE_LINE}')) return false;
	document.main.act.value = 'deleteline';
	document.main.no.value = lineNo;
	document.main.serial.value = serialNo;
	document.main.submit();
	return true;
}
function deleteAll(){
	if (!window.confirm('{_LC_MSG_DELETE_ALL_LINE}')) return false;
	document.main.act.value = 'deleteall';
	document.main.submit();
	return true;
}
function selectMenu(){
	document.main.submit();
	return true;
}
function cancelItem(){
	document.main.task.value = 'pagedef';
	document.main.submit();
	return true;
}
$(function(){
	// スクロールバー付きのテーブルを作成
	m3_tableWithScrollbar('pagedeflisttable', 25, 0);
});
//]]>
</script>
<div align="center">
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" value="pagedef_detail" />
<input type="hidden" name="act" />
<input type="hidden" name="pageid" value="{PAGEID}" />
<input type="hidden" name="pagesubid" value="{PAGESUBID}" />
<input type="hidden" name="serial" />
<input type="hidden" name="no" />
<table width="90%">
<tr><td><label><span {_HELP_LIST}>{_LC_LABEL_PAGE_DEF_DETAIL}</span></label>&nbsp;&nbsp;<label>( {URL} )</label></td>
<td align="right"><span {_HELP_USERLIST_RET_BTN}><input type="button" class="button" onclick="cancelItem();" value="{_LC_LABEL_GO_BACK}" />
</td></tr>
<tr><td colspan="2">

<table id="pagedeflisttable" class="simple-table" width="100%">
    <thead>
        <tr>
            <th width="17%"><span {_HELP_PAGEDEF_POSITION_BLOCK}>{_LC_LABEL_POSITION}</span>
    <select name="position" onchange="selectMenu()">
        <option value="">{_LC_LABEL_ALL}</option>
        <patTemplate:tmpl name="position_list">
        <option value="{VALUE}" {SELECTED}>{NAME}</option>
        </patTemplate:tmpl>
    </select>	    
	    </th>
	    <th width="80" valign="top"><span {_HELP_PAGEDEF_POSITION_INDEX}>{_LC_LABEL_ORDER}</span></th>
	    <th width="25%" valign="top">{_LC_LABEL_WIDGET_ID} / {_LC_LABEL_WIDGET_NAME}</th>
	    <th width="50" valign="top"><span {_HELP_PAGEDEF_WIDGET_CONFIG_ID}>{_LC_LABEL_CONFIG_ID}</span></th>
	    <th width="50" valign="top"><span {_HELP_PAGEDEF_WIDGET_VISIBLE}>{_LC_LABEL_VISIBLE}</span></th>
	    <th width="50" valign="top"><span {_HELP_PAGEDEF_WIDGET_COMMON}>{_LC_LABEL_SHARED}</span></th>
	    <th>{_LC_LABEL_OPERATION}</th>
	</tr>
    </thead>
    <tfoot>
        <tr>
	    <td colspan="8" align="right"><input type="checkbox" name="with_common" checked />{_LC_LABEL_SHARED_ITEM}<input type="button" class="button" onclick="deleteAll();" value="{_LC_LABEL_DELETE_ALL}" {DEL_ALL_BUTTON} /></td>
	</tr>
    </tfoot>
    <tbody>
        <patTemplate:tmpl name="page_def_list">
        <tr {LINE_COLOR}>
	    <td>{POSITION}</td>
	    <td align="center"><input type="text" name="item{NO}_index" value="{INDEX}" size="4" maxlength="4" /></td>
	    <td>{WIDGET_ID} / {WIDGET_NAME}</td>
	    <td align="center"><input type="text" name="item{NO}_def_id" value="{DEF_ID}" size="5" maxlength="5" onkeypress="return m3_numericKey(event,true);" {HAS_INSTANCE_DEF} />
	    </td>
	    <td align="center"><input type="checkbox" name="item{NO}_visible" {VISIBLE} /></td>
	    <td align="center"><input type="checkbox" name="item{NO}_shared" {SHARED} /></td>
	    <td align="right"><input type="button" class="button" onclick="updateline('{NO}', '{SERIAL}');" value="{UPDATE_LINE}" {UPDATE_BUTTON} />
	    <input type="button" class="button" onclick="deleteline('{NO}', '{SERIAL}');" value="{DELETE_LINE}" {DELETE_BUTTON} /></td>
	</tr>
	</patTemplate:tmpl>
    </tbody>
</table>
</td></tr>
</table>

</form>
</div>
</patTemplate:tmpl>
