

/* BootstrapのMagic3用の修正 */
.navbar-brand {
	font-weight: bold;	/* added by Magic3 */
}
.dropdown-menu-large .dropdown-header {
	font-weight: bold;	/* added by Magic3 */
}
/* メニューバー固定用 */
body { padding-top: 70px; }

/*img.brand {
	padding: 0;
}*/
.dropdown-menu img {
	margin-right:5px;
}
img.avatar {
	margin-right:5px;
}
.dropdown-menu-large > li > ul > li {
	width:180px;
}
ul.pos-right {
	float:right;
}
a.dropdown-toggle.device_icon, a.dropdown-toggle.avatar_icon {
	padding-top:16px;
	padding-bottom:15px;
	margin-top:0;
	margin-bottom:0;
}

/* デバイスアイコンとユーザ項目間のスペーサー */
li.user_menu {
	margin-left:20px;
}
