<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function addItem(){
	if (!window.confirm('項目を新規追加しますか?')) return false;
	document.main.act.value = 'add';
	document.main.submit();
	return true;
}
function updateItem(serialNo){
	if (!window.confirm('項目を更新しますか?')) return false;
	document.main.act.value = 'update';
	document.main.submit();
	return true;
}
function delItem(serialNo){
	if (!window.confirm('項目を削除しますか?')) return false;
	document.main.act.value = 'delete';
	document.main.submit();
	return true;
}
function cancelItem(){
	document.main.task.value = 'list';
	document.main.submit();
	return true;
}
function viewCustomValue(){
	m3ShowStandardWindow("{ADMIN_URL}?cmd=showwidget&widget={ADMIN_WIDGET_ID}&task={CUSTOM_VALUE_TASK}&openby=other");
	return false;
}
$(function(){
	m3_setHtmlEditor('item_html');
});
//]]>
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" value="detail" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" value="{SERIAL}" />
<table width="90%">
<tr><td><label>コンテンツ詳細</label></td><td align="right">
<patTemplate:tmpl name="cancel_button" visibility="visible">
<span {_HELP_CONTENT_RET_BTN}><input type="button" class="button" onclick="cancelItem();" value="戻る" /></span>
</patTemplate:tmpl>
</td></tr>
<tr><td colspan="2">
<table class="simple-table">
    <tbody>
        <tr>
	    <td class="table-headside" width="100"><span {_HELP_CONTENT_ID}>ID</span></td>
	    <td width="100" align="center">{SEL_ITEM_ID}</td>
	    <td class="table-headside" width="100"><span {_HELP_CONTENT_NAME}>名前</span></td>
	    <td><input type="text" name="item_name" value="{SEL_ITEM_NAME}" size="40" maxlength="40" /></td>
	    <td class="table-headside" width="100"><span {_HELP_CONTENT_DEFAULT}>デフォルト項目</span></td>
	    <td><input type="checkbox" name="item_default" {SEL_ITEM_DEFAULT} /></td>
	</tr>
        <tr class="even">
	    <td class="table-headside"><span {_HELP_CONTENT_VISIBLE}>公開</span></td>
	    <td><input type="checkbox" name="item_visible" {SEL_ITEM_VISIBLE} /></td>
	    <td class="table-headside"><span {_HELP_CONTENT_LIMITED}>ユーザ制限</span></td>
	    <td colspan="3"><input type="checkbox" name="item_limited" {SEL_ITEM_LIMITED} /></td>
	</tr>
        <tr>
	    <td class="table-headside"><span {_HELP_CONTENT_HTML}>HTML</span><br />
	    <span {_HELP_CONTENT_REF_CUSTOM}><input type="button" class="button" onclick="viewCustomValue();" value="置換文字列を参照" /></span></td>
	    <td colspan="5" width="800" height="450">
	    <textarea name="item_html">{SEL_ITEM_HTML}</textarea>
	    </td>
	</tr>
	<tr class="even">
	    <td class="table-headside"><span {_HELP_CONTENT_KEY}>外部参照用キー</span></td>
	    <td colspan="5"><input type="text" name="item_key" value="{SEL_ITEM_KEY}" size="20" maxlength="20" /></td>
	</tr>
	<tr>
	    <td class="table-headside"><span {_HELP_CONTENT_UPDATE_USER}>更新者</span></td>
	    <td>{UPDATE_USER}</td>
	    <td class="table-headside"><span {_HELP_CONTENT_UPDATE_DT}>更新日時</span></td>
	    <td>{UPDATE_DT}</td>
	<td colspan="2" align="right">
<patTemplate:tmpl name="del_button" visibility="hidden">
		<input type="button" class="button" onclick="delItem();" value="削除" />
		<input type="button" class="button" onclick="updateItem();" value="更新" />
</patTemplate:tmpl>
<patTemplate:tmpl name="add_button" visibility="hidden">
		<input type="button" class="button" onclick="addItem();" value="新規追加" />
</patTemplate:tmpl>
	</td>
	</tr>
    </tbody>
</table>
</td></tr>
</table>
</form>
</div>
</patTemplate:tmpl>
