<patTemplate:tmpl name="_tmpl">
<label>キーワード：<input type="text" id="{SEARCH_TEXT_ID}" size="10" maxlength="40" /></label>
<input type="button" id="{SEARCH_BUTTON_ID}" class="button" value="検索" />
<input type="button" id="{SEARCH_RESET_ID}" class="button" value="リセット" />
<label>並べ替え：<select id="{SEARCH_SORT_ID}">
<option value="">-- 選択なし --</option>
<option value="date-0">日付最新順</option>
<option value="date-1">日付古い順</option>
<option value="rate-0">評価高い順</option>
<option value="ref-0">参照多い順</option>
</select></label>
</patTemplate:tmpl>
