<patTemplate:tmpl name="_widget">
<script type="text/javascript">
<!--
$(document).ready(function () {
	$('#contactus_modal input.contact, #contactus_modal a.contact').click(function (e) {
		e.preventDefault();
		
		// load the contact form using ajax
		$.get("{URL}", function(data){
			contact.url = "{POST_URL}";
			// create a modal dialog with the data
			$(data).modal({
				close: false,
				position: ["15%",],
				overlayId: 'contact-overlay',
				containerId: 'contact-container',
				onOpen: contact.open,
				onShow: contact.show,
				onClose: contact.close
			});
		});
	});

	// preload images
	var img = ['cancel.png', 'form_bottom.gif', 'form_top.gif', 'loading.gif', 'send.png'];
	$(img).each(function () {
		var i = new Image();
		i.src = '{IMAGE_URL}/' + this;
	});
});
-->
</script>
<form id="contactus_modal" method="post" class="form">
<input type="button" name="contact" value="お問い合わせ" class="button contact" />
</form>
</patTemplate:tmpl>
