<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
$(function(){
	var config =  {
		{OPTION}
		repeatPlaylist: 1,
		playlist: {
			title: 'Random videos',
			videos: [
				<patTemplate:tmpl name="field_list">{ id: '{MOVIE_ID}', title: '{NAME}' }{SEPARATOR}</patTemplate:tmpl>
			]
		}
	};
	$('.youtube-player').player(config);
});
//]]>
</script>
<!-- m3:ErrorMessage -->
<div class="youtube-player">
	<div class="youtube-player-video">
		<div class="youtube-player-object">
			You need Flash player 8+ and JavaScript enabled to view this video.
		</div>
	</div>
</div>
</patTemplate:tmpl>
