<patTemplate:tmpl name="_widget">
<form action="must_input" method="post">
●ｽﾍﾟｰｻ画像による行間の作成<br />
()内数値は次行とのピクセル間隔<br />
■■■行間(なし)■■<br />
■■■行間(1)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="1" /></div>
■■■行間(2)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="2" /></div>
■■■行間(3)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="3" /></div>
■■■行間(5)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="5" /></div>
■■■行間(7)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="7" /></div>
■■■行間(10)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="10" /></div>
■■■行間(15)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="15" /></div>
■■■行間(20)■■■<br />
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="20" /></div>
■メニュー<br />
<div><select name="test"><option value="0">メニュー(なし)</option></select></div>
<div><select name="test"><option value="0">メニュー(1)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="1" /></div>
<div><select name="test"><option value="0">メニュー(2)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="2" /></div>
<div><select name="test"><option value="0">メニュー(3)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="3" /></div>
<div><select name="test"><option value="0">メニュー(5)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="5" /></div>
<div><select name="test"><option value="0">メニュー(7)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="7" /></div>
<div><select name="test"><option value="0">メニュー(10)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="10" /></div>
<div><select name="test"><option value="0">メニュー(15)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="15" /></div>
<div><select name="test"><option value="0">メニュー(20)</option></select></div>
<div><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="20" /></div>
■■■終了■■■<br />
●ｽﾍﾟｰｻ画像によるラインの作成<br />
■サイズ(1)上下(1)■<br />
<div style="background-color:#ff0000;margin:1px 0;"><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="1" /></div>
■サイズ(2)上下(2)■<br />
<div style="background-color:#00ff00;margin:2px 0"><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="2" /></div>
■サイズ(3)上下(3)■<br />
<div style="background-color:#0000ff;margin:3px 0"><img src="{_ROOT_URL}/images/system/spacer.gif" width="1" height="3" /></div>
●マーキー<br />
<marquee>DoCoMo未対応</marquee>
<div style="display:-wap-marquee; -wap-marquee-loop:infinite; background-color:blue; color:white;">DoCoMo対応</div>
●センターリング<br />
<div style="text-align: center;">divタグ</div>
■■■■■■<br />
<p style="text-align: center;">pタグ</p>
■■■終了■■■<br />
</form>
</patTemplate:tmpl>
