img {
	border: none;
}
fieldset {
	border:2px groove #ffffcc;
	padding:5 5;
}
table {
	text-align: left;
}
/* inner table style canceled */
.simple-table table
{
/*	border: 2px solid #56626d;
	border-collapse: collapse;
	font-family: arial, sans-serif;*/
	font-size: 80%;/* for IE problem*/
}
