/* General */
/*label {
	font-weight: bold;
}*/
/*
img
{
	border:0;
}
legend, label
{
	border: none;
	margin: 0;
	padding: 0;
}*/
/*
fieldset legend span {
	font-weight: bold;
	font-size: 85%;
}*/
/* for Bootstrap
input, select, textarea {
	margin: 1px 0;
}*/
/*
input[type="checkbox"] {
	margin-right: 2px;
}
input[type="image"]:disabled {
	cursor: default;
}*/
/*
a:link, a:visited {
color: #333;
	font-weight      : bold;
	text-decoration  : none;
}
*/
/*
a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}*/
/*
a:hover {
	color: #FF0000;
	text-decoration  : none;
}*/
/****** 管理画面全体 *****/
.m3admin_container {
	margin:0 auto;
	width:90%;
}
.m3admin_container .m3title {
	display:inline-block;
}
.m3list_indent1 {
	margin-left:70px;
}
.m3list_indent2 {
	margin-left:140px;
}
/* top page button */
.toppage-button {
	display:block;
	background-color: #FFD50F;
	border: 2px solid #DA9D42;
/*	color: #693A3A;*/
	font-weight:bold;
	width: 180px;
	font-size: 90%;
	text-align:center;
	padding:10px 0px;
	margin: 10px 0px;
}
/* default button */
.link-button {
/*	display:block;*/
	background-color: #FFD50F;
	border: 2px solid #DA9D42;
/*	color: #693A3A;*/
	font-weight:bold;
	width: 90px;
	height: 20px;
	font-size: 100%;
	text-align:center;
/*	padding:10px 0px;*/
/*	margin: 5px 0px;*/
}
/* main content area */
/*#main-content
{
	width:60%;
	margin: 5% auto 0;
}*/
/* default table define */
/*
table {
	empty-cells: show;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
*/
.simple-table
{
/*	border: 1px solid #6C6C00;*/
/*background-color: #CDCDCD;*/
	background-color: #FFF;
	border: 1px solid #CDCDCD;
	border-collapse: collapse;
	margin: 0 auto;
}
.simple-table textarea {
	font-size: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.simple-table input {
	font-size: 95%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.simple-table legend {
	margin-bottom:0;
}
.simple-table caption {
	text-align: left;
	font-weight: bold;
}
.simple-table tr th
{
	padding: .2em 0;
/*	background: #46525d;*/
/*	background: #A79F3F;*/
	color: #fff;
	text-align: center;
/*	background-color: #8dbdd8;*/
background-color: #0081c2;
}
.simple-table tr th a
{
	color: #fff;
	text-decoration: underline;
}
.simple-table td, .simple-table th {
	padding: 1px 2px 1px 2px;
	border: 1px solid #CDCDCD;
/*	border: 1px solid #6C6C00;*/
}
.simple-table tbody tr.even { 
/*	background: #EAE3BF;*/
	background: #F0F0F6;
}
.simple-table tbody tr.ruled {
	background: #FCEF92;
}
.simple-table tfoot
{
	color: #fff;
	font-weight: bold;
/*	background-color: #8dbdd8;*/
background-color: #0081c2;
}
.simple-table .table-head
{
	padding: .2em;
/*	background: #A79F3F;*/
	color: #fff;
	font-weight: bold;
	text-align: center;
/*	background-color: #8dbdd8;*/
	background-color: #0081c2;
}
.simple-table .table-headside
{
	padding: .2em;
/*	background: #A79F3F;*/
	color: #fff;
	font-weight: bold;
	text-align: center;
/*	background-color: #8dbdd8;*/
background-color: #0081c2;
}
.simple-table table
{
/*	border: 2px solid #56626d;
	border-collapse: collapse;
	font-family: arial, sans-serif;*/
	font-size: 100%;
}
.simple-table .item-wrapper
{
/*	padding-left:2px;
	margin-left:2px;*/
	padding-right:2px;
	margin-right:2px;
}
/* inner table */
.simple-table-inner
{
	border-collapse: collapse;
	width: 100%;
}
/* iwidget table */
.iw_table
{
/*	border: 1px solid #6C6C00;*/
	border-collapse: collapse;
	margin: 3px 0px;
}
/****** item list ******/
.item_list_block {
	display:block;
	clear:both;
}
.item_list_inline {
	display:block;
	float:left;
	margin: 2px 20px 2px 2px;
}
.item_list {
	display:block;
}
/* widget */
.widget_obj
{
	font-size        : 90%;
}
/* error message */
.m3messages {
/*	margin-top: 10px;*/
}
.m3messages .alert {
/*	margin-top: 10px;
	margin-bottom: 0;*/
	margin-top: 0;
	margin-bottom: 10px;
}
/****** widget ******/
.m3widget_main {
	margin: 10px 10px 20px 10px;
}
.m3widget_box {
	margin: 20px 10px 20px 10px;
}
.m3widget_box_head {
	padding:5px 10px;
}
.m3widget_box_content {
	padding:5px 10px;
	border-top-width:0;
}
.m3widget_box_content a {
	color: #0088cc;
	text-decoration: none;
}
/****** top page menu ******/
.m3toppage_menu {
	width:210px;
	margin: 10px 15px 20px 15px;
/*	padding:0;*/
}
.m3toppage_menu div {
/*	margin:0;*/
/*	padding:5px;*/
	padding:5px;
}
.m3toppage_menu ul {
	margin:0;
	padding:0;
	border-top:0;
}
.m3toppage_menu li {
	background-image:none;
	list-style:none;
	list-style-image:none;
	/*padding-left:10px;*/
/*	padding-top:3px;*/
/*	padding:0;
		margin:0;*/
}
.m3toppage_menu li a {
	padding:3px 0 3px 10px;
	display:block;
	text-decoration: none;
	width:100%;	/* for IE bug */
}
.m3toppage_menu li a span {
	color: #0088cc;
	text-decoration: none;
}
.m3toppage_menu li a:hover span {
	color: #005580;
	text-decoration: underline;
}
/* serach area */
.m3search {
	margin-bottom:15px;
}
/*** 処理中表示モーダルダイアログ ***/
.modal-processing { 
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	margin-top: -100px;
	margin-left: -100px;
	overflow: visible !important;
}
.modal-processing,
.modal-processing .modal-dialog,
.modal-processing .modal-content {
	width: 200px;
	height: 200px;
}
.modal-processing .modal-dialog,
.modal-processing .modal-content {
	padding: 0 !important;
	margin: 0 !important;
}
.modal-processing .modal-content .icon {
}
/****** 画面編集 ******/
#layout_preview_title {
	margin-top:10px;
}
#layout_preview
{
/*	border-top:2px solid #2C3E50;*/
/*	height: 100%;
	width: 100%;*/
}
.layout_top_border {
	border-top:5px solid #2C3E50;
}
.layout_side_border {
	border-left:5px solid #2C3E50;
	border-right:5px solid #2C3E50;
}
#layout_preview_outer{
	position: fixed;
/*	top: 20%;*/
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index:1;
/*	z-index:1100;*/
	background: #FFF;
}
#layout_switch_image
{
/*	padding-top:27px;*/
}
#layout_header .panel-heading {
	cursor: pointer;
}
#layout_header .layout_menu_switch {
	margin-left:10px;
}
#layout_page_table td:hover {
	cursor: pointer;
}
#layout_template_table td:hover {
	cursor: pointer;
}
#mode_template_normal img {
	margin-top:-7px;
	margin-bottom:-7px;
}
#mode_template_plain img {
	margin-top:-7px;
	margin-bottom:-7px;
}
#mode_template_normal {
	margin-top:-18px;
}
#mode_template_plain {
	margin-top:-18px;
}
#previewother {
	margin-top:-18px;
}
/****** menu preview ******/
#menu_preview {
	font-weight: bold;
	font-size: 80%;
}

/****** widget config menu ******/
#configmenu-upper {
	float:left;
	width:100%;
}
#configmenu-upper ul {
	margin: 0; padding: 0;
	float: left;
	list-style: none;
	background:url(../images/topnav_s.gif) repeat-x;
}
#configmenu-upper ul li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #555;
}
#configmenu-upper ul li a {
	padding: 7px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
#configmenu-upper #current a {
	background:url(../images/topnav_a.gif) repeat-x;
}

#configmenu-lower {
	float:left;
	width:100%;
}
#configmenu-lower ul {
	margin: 0; padding: 0;
	float: left;
	list-style: none;
	background:url(../images/topnav_s.gif) repeat-x;
}
#configmenu-lower ul li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #555;
}
#configmenu-lower ul li a {
	padding: 7px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
#configmenu-lower #current a {
	background:url(../images/topnav_a.gif) repeat-x;
}
/****** help tooltip ******/
.help_head {
	background:#F3F0E7;
	font-size:12px;
	font-weight:bold;
	border:1px solid #C8BA92;
	padding:5px;
	width:200px;
}
.help_body {
	background:#FFFFFF;
	font-size:12px;
	border-left:1px solid #C8BA92;
	border-right:1px solid #C8BA92;
	border-bottom:1px solid #C8BA92;
	padding:5px;
	width:200px;
}
.m3help { cursor: help; }
i[rel="m3help"] { cursor: default; }
/****** sortable box ******/
/*.sortable-box {
	background-color:#FFF;
	border:1px solid #555;
	color:#222;
	font-size:12px;
	margin:0 15px 15px 0;
	padding:0 10px 10px;
	width:175px;
}
.sortable-box h1 {
	background-color:#555;
	border-top:3px solid #666;
	font-size:12px;
	margin:0 -10px 10px;
	line-height:2;
	padding:0 10px;
}*/
/*
.sortable-box-item {
	color:#222;
	margin:10px 0;
	border:1px solid #aaa;
	cursor:move;
}
.sortable-box-item dt {
	background-color:#666;
	height:2em;
	line-height:2;
	padding:0 6px;
	position:relative;
}
.sortable-box-item dd {
	background-color:#FFF;
	margin:0;
	padding:3px 6px;
	cursor:default;
}
*/
/****** edit menu ******/
.menulist_frame {
	background-color:#FFF;
	border:1px solid #555;
	color:#222;
	padding:0;
	text-align:left;
	font:11px/1.5 Arial, sans-serif;
	/*width:300px;*/
}
.menulist_frame h1 {
	background-color:#555;
	border-top:3px solid #666;
	color:#FFF;
	font-size:12px;
	margin:0;
	line-height:2;
	padding:0 10px;
}
.menulist_box {
	border:1px solid #555;
/*	padding:0 10px 0;*/
	padding:0;
	margin: 3px;
/*	overflow-y: scroll;*/
	height: 450px;
}
.menulist_box_assigned {
	border:1px solid #555;
/*	padding:0 10px 0;*/
	padding:0;
	margin: 3px;
	overflow-y: scroll;
	height: 450px;
}
.menulist_item {
	color:#222;
	/*margin:10px 10px 0 10px;*/
	margin:10px;
	border:1px solid #555;
/*	width:300px;*/
	text-align:left;
	font:11px/1.5 Arial, sans-serif;
}
.menulist_item_head {
	/*background-color:#666;*/
	background-color:#5BE35B;
	color:#FFF;
	cursor:move;
	height:2em;
	line-height:2;
	padding:0 6px;
	/*position:relative;*/
}
.menulist_item_body {
	background-color:#FFF;
	margin:0;
	padding:3px 6px;
}
.menulist_aitem {
	color:#222;
	/*margin:10px 10px 0 10px;*/
	margin:10px;
	border:1px solid #555;
	/*width:200px;*/
	text-align:left;
	font:11px/1.5 Arial, sans-serif;
}
.menulist_subitem {
	margin:10px 10px 10px 20px;
}
.menulist_subitem div.menulist_aitem_head {
	background-color:#5BE35B;
}

.menulist_aitem_head {
	background-color:#228B22;
	color:#FFF;
	cursor:move;
	height:2em;
	line-height:2;
	padding:0 6px;
	position:relative;
}
.menulist_aitem_body {
	background-color:#FFF;
	margin:0;
	padding:3px 6px;
}
.menulist_aitem_head span.options {
	cursor:default;
	font-size:1px;
	line-height:1px;
	position:absolute;
	right:5px;
	top:5px;
	width:12px;
}
.menulist_aitem_body textarea {
	font:11px/1.5 Arial, sans-serif;
}
.menulist_aitem_head span.options a {
	background-color:#FFF;
	cursor:pointer;
	display:block;
	float:left;
	text-indent:-9000px;
	height:12px;
	width:12px;
}
/* widget in dragging */
/*.ui-sortable-helper {
	text-align:left;
	font:11px/1.5 Arial, sans-serif;
}*/
/*** config window ***/
/* 外枠 */
.m3config_container {
	display: table;
	margin: 10px auto 20px;
	min-width: 950px;
	max-width: 90%;
}
.m3config_tabs {/* 削除予定 */
	width:95%;
	margin: 10px auto;
}
.m3config_head {
	width:95%;
	margin: 10px auto;
}
/* for IFRAME */
.m3config_fullwidth {
	position: fixed;
	left: 0px;
	right: 0px;
}
.m3config_table {
	margin: 0 auto;
	margin: 0 auto 15px auto;
	width: 950px;
}
.m3config_table th {
	width: 150px;
}
.m3config_table th.select {
	width: 50px;
}
.m3config_table td.select {
	text-align: center;
}
.m3config_table th.status {
	width: 50px;
}
.m3config_table td.status {
	text-align: center;
}
.m3config_table td.number {
	text-align: right;
}
.m3config_table td.ckeditor {
	padding: 0;
}
.m3config_table .spacer_bottom {
	margin-bottom:5px;
}
.m3config_update_buttons {
/*	margin-top: 10px;*/
	text-align: right;
}
.m3config_h {
	display:inline-block;
}
/* Hタグ右ボタン */
.m3config_h_side_buttons {
	display:inline-block;
/*	padding-top:10px;*/
	margin-top:10px;
	margin-bottom:10px;
}
.m3config_h_side_small_button {
/*	margin-top:-17px;*/
	margin-top:-13px;
	font-size: 17px;
	padding: 0 5px;
}
/* fix item width */
.m3config_item {
	padding-left: 0;
/*	padding-right: 0;*/
	padding-right: 5px;
}

.m3config_sortable_box li {
	cursor: move;
}

/****** edit line ******/
.m3line_image {
	width:16px;
	height:16px;
	border:0;
	margin:0 2px;
}
/*** input field ***/
.m3field_calendar {
	width: 80px;
}
/****** login box ******/
.login_box {
	margin-top:20%;
}
/* ファイル選択 */
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	outline: none;
	cursor:pointer;
	filter: alpha(opacity=0);
	opacity: 0;
}
/****** ステータス表示 ******/
.required {
	color:red;
}
.notice {
	color:red;
}
.emergency {
	color:red;
}
.error {
	color:red;
}
.available {
	color:green;
}
.running {
	color:green;
}
.stopped {
	color:red;
}
/* タブでトラブルが生じるので使用しない */
/*.active {
	color:green;
}*/
/****** Bootstrap修正 ******/
/*** Bootstrap bug fix ***/
input[type="password"]{
	font-size: 14px;
	font-family: Arial;/*for IE8 bug*/
}
/*** Bootstrap plus option ***/
/*.align_middle_row.table td {
	vertical-align: middle;
}*/
.table.m3config_table td {
	vertical-align: middle;
}
/*** タブフォーカス削除 ***/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	outline: 0;
}
/*** サブメニューバー ***/
nav.secondlevel {
	z-index:900;
	height:50px;
}
nav.secondlevel.minimized {
	height:34px;
}

nav.secondlevel.minimized .navbar-brand {
	padding: 4px 5px;
/*  margin: 8px 15px 8px 0;*/
}
nav.secondlevel .navbar-collapse {
	margin-left:50px;	/*メニューバー最左項目の左端*/
}
nav.secondlevel .navbar-text.title {
	font-size: 18px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-right: 50px;
}

nav.secondlevel.minimized .navbar-text.title {
	font-size: 17px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right: 20px;
/* default
  margin-top: 19.5px;
  margin-bottom: 19.5px;
  */
}
nav.secondlevel.minimized .navbar-toggle {
	padding: 4px 5px;
	margin: 8px 15px 8px 0;
}

/*nav.minimized a {
  margin-top: 0px;
  margin-bottom: 0px;
}*/

nav.secondlevel.minimized .btn.navbar-btn {
	padding: 6px 9px;
/*	font-size: 13px;*/
	font-size: 15px;
	line-height: 1.5;
/*	border-radius: 3px;*/
	border-radius: 0;
	
	margin-top: 0px;
	margin-bottom: 0px;
/*
  margin-top: 13.5px;
  margin-bottom: 13.5px;*/
	height:34px;/*for chrome*/
}
nav.secondlevel .btn.navbar-btn {
	height:41px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
nav.secondlevel a.btn.navbar-btn {
	padding: 10px 15px;
}

nav.secondlevel a.btn.navbar-btn.btn-success:hover {
	color: #ffffff;
	background-color: #128f76;
	border-color: #11866f;
}
nav.secondlevel a.btn.navbar-btn.btn-primary:hover {
	color: #ffffff;
	background-color: #1a242f;
	border-color: #161f29;
}
nav.secondlevel .dropdown-menu {
	margin-top: -8px;
}
nav.secondlevel.minimized .dropdown-menu {
	margin-top: 0px;
}
/* フォーカス削除 */
nav.secondlevel .btn.navbar-btn,
nav.secondlevel .btn.navbar-btn:hover,
nav.secondlevel .btn.navbar-btn:focus {
	outline: 0;
}
/*** パンくずリスト ***/
.breadcrumb {
	margin-top:0;
	margin-bottom:10px;
	padding-left:100px;
}

/*** ナビゲーションボタン追加 ***/
.centered-pills { text-align:center; }
.centered-pills ul.nav.nav-pills, .centered-pills ul.nav.nav-tabs { display:inline-block; }
.centered-pills ul.nav.nav-pills li, .centered-pills ul.nav.nav-tabs li { display:inline; }

