body
{
  background: #D6CABD url('../images/page.png') fixed;
  margin: 0 auto;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
}

table
{
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

body
{
  text-align: left;
}

body, li, table, a, a:link, a:visited, a.visited, a:hover, a.hovered
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

p
{
  margin: 12px 0;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover, h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover, h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover, h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover, h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 24px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 3px;
  text-align: left;
}

a, a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #A9640F;
}

a:visited, a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #5D4122;
}

a:hover, a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #865D32;
}

h1
{
  color: #865D32;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 3px;
  text-align: left;
}

h1 a, h1 a:link, h1 a:hover, h1 a:visited
{
  font-size: 24px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 3px;
  text-align: left;
}

h2
{
  color: #AB773F;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 22px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

h2 a, h2 a:link, h2 a:hover, h2 a:visited
{
  font-size: 22px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

h3
{
  color: #AB773F;
  margin: 10px 0 0;
  font-size: 20px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

h3 a, h3 a:link, h3 a:hover, h3 a:visited
{
  font-size: 20px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

h4
{
  color: #996A38;
  font-size: 20px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: center;
}

h4 a, h4 a:link, h4 a:hover, h4 a:visited
{
  font-size: 20px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: center;
}

h5
{
  color: #825B30;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

h5 a, h5 a:link, h5 a:hover, h5 a:visited
{
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

h6
{
  color: #C2915B;
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

h6 a, h6 a:link, h6 a:hover, h6 a:visited
{
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  letter-spacing: 2px;
  text-align: left;
}

header, footer, nav
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, nav
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html
{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body
{
  padding: 0;
  margin: 0;
  color: #4E361D;
}

.clearfix:after
{
  clear: both;
  font: 0/0 serif;
  display: block;
  content: " ";
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, li h1
{
  margin: 1px;
}

li h2, li h2
{
  margin: 1px;
}

li h3, li h3
{
  margin: 1px;
}

li h4, li h4
{
  margin: 1px;
}

li h5, li h5
{
  margin: 1px;
}

li h6, li h6
{
  margin: 1px;
}

li p, li p
{
  margin: 1px;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #F9FAFB;
  border: 1px solid rgba(239, 162, 67, 0.2);
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: auto;
  padding: 8px 0;
  color: #71420A !important;
  font-size: 14px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

a img
{
  border: 0;
}

body img
{
  margin: 0 0 0 0;
}

body table
{
  border-collapse: collapse;
  margin: 1px;
}

body th, body td
{
  padding: 2px;
  border: solid 1px #D6CABD;
  vertical-align: top;
  text-align: left;
}

body th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.image-caption-wrapper
{
  padding: 0 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera  ul>li:before
{
  bottom: 0;
}

li
{
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-align: left;
  color: #211803;
  margin: 0 0 0 24px;
}

ul>li, ol
{
  padding: 0;
}

ul>li
{
  padding-left: 11px;
}

ul>li:before
{
  margin-left: -11px;
}

ol, ul
{
  margin: 1em 0 1em 24px;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 24px;
}

li
{
  margin: 0 0 0 0;
}

ol>li
{
  overflow: visible;
}

ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #D4B18C url('../images/postquote.png') no-repeat scroll;
  padding: 0 0 0 37px;
  margin: 10px 10px 10px 50px;
  color: #0F0A06;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, blockquote a, blockquote a:link, blockquote a:link, blockquote a:visited, blockquote a:visited, blockquote a:hover, blockquote a:hover
{
  color: #0F0A06;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, blockquote p
{
  margin: 0;
  margin: 5px;
}

/* Created by Artisteer vundefined.undefined.undefined.undefined */

/* Compatibility rules for the default TinyMCE skin: */
td 
{ 
    color: inherit; 
    font-family: inherit; 
    font-size: inherit; 
    margin: inherit; 
}

abbr
{
    border-bottom: 0px none;
}

cite
{
    border-bottom: 0px none;
}

body 
{
    border-collapse: collapse;
}