<patTemplate:tmpl name="_widget">
<div style="text-align:center;" width="100%" align="middle" >
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="140" height="140" id="clock">
<param name="movie" value="{WIDGET_URL}/clock.swf">
<param name="quality" value="high">
<param name="bgcolor">
<param name="menu" value="false">
<embed src="{WIDGET_URL}/clock.swf" quality="high" width="140" height="140" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" menu="false">
</embed>
</object>
</div>
</patTemplate:tmpl>
