.content {
	width:80%;
	margin:0 auto;
}
.bottom_buttons {
	text-align:right;
}
.modal-processing { 
	position: fixed;
	top: 50% !important;
	left: 50% !important;
	margin-top: -100px;
	margin-left: -100px;
	overflow: visible !important;
}
.modal-processing,
.modal-processing .modal-dialog,
.modal-processing .modal-content {
	width: 200px;
	height: 200px;
}
.modal-processing .modal-dialog,
.modal-processing .modal-content {
	padding: 0 !important;
	margin: 0 !important;
}
.modal-processing .modal-content .icon {
}
#password_area input[type="password"]{
	padding-right: 30px;
}
#password_area i.fas.fa-eye {
	position: absolute;
	z-index: 5;
	display: none;
	right: 23px;
	top: 17px;
	cursor: pointer;
}
#password_area i.glyphicon.glyphicon-eye-open { /* 廃止予定 */
	position: absolute;
	z-index: 5;
	display: none;
	right: 23px;
	top: 17px;
	cursor: pointer;
}
