/* General */
label {
	font-weight: bold;
	font-size: 80%;
	font-family: arial, sans-serif;
}

/* legend { display: none; } */
fieldset, legend, label
{
	border: none;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #ced4da;
	padding: 0;
	margin: 0;
/*	font-family: arial, sans-serif;*/
	font-size: 100%;
	color: #000;
}

/* Main nav */
#main-nav
{
	background: #6c0006 url("../images/nav_bg.gif") repeat-x;
	padding: .1em 0;
	margin: 0 0 25px 0;
	font-family: arial, sans-serif;
	font-size: 78%;
	line-height: 140%;
	border-top: 2px solid #6c0006;
	border-bottom: 2px solid #6c0006;
	position: relative;
}
#main-nav li
{
	display: inline;
	list-style: none;
	padding: 0 1em;
	margin: 0;
	line-height: 130%;
}
#main-nav li a
{
	color: #fff;
	text-decoration: none;
	text-shadow: 2px 2px #6c0006;
	font-weight: bold;
	margin: 0;
	padding: .1em 1em .3em 1em !important;
}

#main-nav li.begin { margin: 0 0 0 1.4em; }

#main-nav li a:hover, #main-nav li#high li a:hover
{
	color: #adb8c4;
	text-decoration: none;
	text-shadow: none;
}

/* Highlights for main nav */
#main-nav li#high a.top, #main-nav li#high li.select a
{
	color: #fff !important;
	background: #adb8c4 url("../images/sub_bg.gif") repeat-x top !important;
	margin: 0;
	border: 1px solid #789;
	border-top: 1px solid #56626d;
	border-bottom: 1px solid #adb8c4;
	text-shadow: 2px 2px #56626d !important;
}

/* subnav */
#main-nav li ul
{
	display: none;
	background: url("../images/main_select_bg.gif") top repeat-x #789;
	padding: .2em 0;
	margin: 1px 0 0 0;
	position: absolute;
	left: 0;
	top: 1.51em;
/*	z-index: 2;*/
	width: 100%;
	border-bottom: 1px solid #56626d;
}
#main-nav li ul li
{
	padding: .2em;
	margin: 0;
}
#main-nav li ul li a, #main-nav li#high li.select ul li a
{
	color: #fff !important;
	font-weight: normal;
	border: none;
	background: transparent !important;
	padding: .2em .4em !important;
	text-shadow: none !important;
}
#main-nav li ul li.begin { margin: 0 0 0 1.8em !important; }
#main-nav li ul li a:hover { color: #56626d !important; }

/* table define */
table { empty-cells: show; }
table caption { display: none; }

.simple-table
{
	border: 1px solid #56626d;
	font-family: arial, sans-serif;
	font-size: 80%;
	border-collapse: collapse;
}
.simple-table td {
	border-top: 1px solid #d6dbdf;
}
.simple-table tr th
{
	padding: .2em;
	background: #46525d;
	color: #fff;
	text-align: center;
}
.simple-table td { padding: .1em .2em; }
.simple-table tbody tr { background: #e6eaed; }
.simple-table tbody tr td { 
	border-left: 1px solid #56626d;
	border-right: 1px solid #56626d;
}
.simple-table tbody tr.even { background: #f3f4f6; }

.simple-table tfoot
{
	background: #56626d;
	color: #fff;
	font-weight: bold;
}
.simple-table .table-head
{
	border-top: 0px;
	padding: .2em;
	background: #46525d;
	color: #fff;
	text-align: center;
}

/* error message */
.error-message {
	color: #EE0000;
}
.warning-message {
	color: #FF8C00;
}
.guide-message {
	color: #00008B;
}
