<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function addItem(){
	if (!window.confirm('項目を新規追加しますか?')) return false;
	document.main.act.value = 'add';
	document.main.submit();
	return true;
}
function updateItem(){
	if (!window.confirm('設定を更新しますか?')) return false;
	document.main.act.value='update';
	document.main.submit();
	return true;
}
function selectItem()
{
	document.main.act.value = 'select';
	document.main.submit();
	return true;
}
function listItem(){
	document.main.task.value = 'list';
	document.main.submit();
	return true;
}
// ######## ファイルブラウザの設定 ########
// ファイルブラウザ起動
function selectImage()
{
	m3OpenFlashFileBrowser(SetUrl);
}
// ファイルブラウザからの設定用
var SetUrl = function(url)
{
	$('#item_flash_url').val(url);
	
	// プレビュー動画の更新
	var width = document.main.item_width.value;
	var height = document.main.item_height.value;
	var preOuter = $('#preview_outer');
	var innerText = '<object id="preview_obj" data="' + url + '" type="application/x-shockwave-flash" width="' + width + '" height="' + height + '">' +
			'<param id="preview_param" name="movie" value="' + url + '" /><param name="wmode" value="transparent" /></object>';
	preOuter.html(innerText);
	return;
}
//]]>
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" value="{SERIAL}" />
<input type="hidden" name="defserial" value="{DEF_SERIAL}" />
<input type="hidden" name="defconfig" value="{DEF_CONFIG}" />
<table width="90%">
<tr><td><label>Flash項目</label></td>
<td align="right"><input type="button" class="button" onclick="listItem();" value="一覧" />
</td></tr>
<tr><td colspan="2">

<table class="simple-table" width="100%">
    <tbody>
        <tr>
	    <td class="table-headside" width="150">名前</td>
	    <td width="400">
	    <select name="item_id" onchange="selectItem();" {ID_DISABLED}>
	        <option value="0">-- 新規登録 --</option>
	        <patTemplate:tmpl name="title_list">
	        <option value="{VALUE}" {SELECTED}>{NAME}</option>
	        </patTemplate:tmpl>
	    </select>
	    <patTemplate:tmpl name="item_name_visible" visibility="hidden">
	    <input type="text" name="item_name" value="{NAME}" size="40" maxlength="40" />
	    </patTemplate:tmpl>
	    </td>
	    <td class="table-headside" width="150">ID</td>
	    <td>{ID}
	    </td>
	</tr>
        <tr class="even">
	    <td class="table-headside">Flashファイル</td>
	    <td colspan="3"><input type="text" id="item_flash_url" name="item_flash_url" value="{FLASH_URL}" size="80" maxlength="120" />
	    <input type="button" class="button" onclick="selectImage();" value="変更" /></td>
	</tr>
        <tr>
	    <td class="table-headside">サイズ</td>
	    <td colspan="3">幅：<input type="text" name="item_width" value="{WIDTH}" size="4" maxlength="4" />
	    &nbsp;&nbsp;高さ：<input type="text" name="item_height" value="{HEIGHT}" size="4" maxlength="4" />
	    </td>
	</tr>
	<tr class="even">
	    <td align="right" colspan="4">
<patTemplate:tmpl name="update_button" visibility="hidden">
		<input type="button" class="button" onclick="updateItem();" value="更新" />
</patTemplate:tmpl>
<patTemplate:tmpl name="add_button" visibility="hidden">
		<input type="button" class="button" onclick="addItem();" value="新規追加" />
</patTemplate:tmpl>
	    </td>
	</tr>
    </tbody>
</table>

</td></tr>
<tr><td colspan="2">
<br />
<div>
<label>Flashプレビュー</label></div>
<div id="preview_outer">
<object id="preview_obj" data="{PREVIEW_URL}" type="application/x-shockwave-flash" width="{WIDTH}" height="{HEIGHT}">
<param id="preview_param" name="movie" value="{PREVIEW_URL}" /><param name="wmode" value="transparent" />
</object>
</div>

</td></tr>
</table>
</form>
</div>
</patTemplate:tmpl>
