<patTemplate:tmpl name="_widget">
<patTemplate:tmpl name="show_html" visibility="hidden">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="{WIDTH}" height="{HEIGHT}" id="flashfile">
<param name="movie" VALUE="{URL}">
<param name="quality" VALUE="high">
<param name="allowScriptAccess" VALUE="never">
<param name="allowNetworking" VALUE="never">
<embed src="{URL}" allowScriptAccess="never" allowNetworking="never" quality="high" width="{WIDTH}" height="{HEIGHT}" name="flashfile" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
</embed>
</object>
</patTemplate:tmpl>
</patTemplate:tmpl>
