<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function addItem(){
	if (!window.confirm('項目を新規追加しますか?')) return false;
	document.main.act.value = 'add';
	document.main.submit();
	return true;
}
function updateItem(){
	if (!window.confirm('設定を更新しますか?')) return false;
	document.main.act.value='update';
	document.main.submit();
	return true;
}
function selectItem()
{
	document.main.act.value = 'select';
	document.main.submit();
	return true;
}
function listItem(){
	document.main.task.value = 'list';
	document.main.submit();
	return true;
}
//]]>
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<form method="post" name="main" class="form">
<input type="hidden" name="task" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" value="{SERIAL}" />
<!-- m3:PostParam -->
<table width="90%">
<tr><td><label>Picasaアルバム詳細</label></td>
<td align="right"><input type="button" class="button" onclick="listItem();" value="一覧" />
</td></tr>
<tr><td colspan="2">

<table class="simple-table" width="100%">
    <tbody>
        <tr>
	    <td class="table-headside" width="200">名前</td>
	    <td>
	    <select name="item_id" onchange="selectItem();" {ID_DISABLED}>
	        <option value="0">-- 新規登録 --</option>
	        <patTemplate:tmpl name="title_list">
	        <option value="{VALUE}" {SELECTED}>{NAME}</option>
	        </patTemplate:tmpl>
	    </select>
	    <patTemplate:tmpl name="item_name_visible" visibility="hidden">
	    <input type="text" name="item_name" value="{NAME}" size="40" maxlength="40" />
	    </patTemplate:tmpl>
	    </td>
	</tr>
        <tr class="even">
	    <td class="table-headside"><span {_HELP_PICASA_ID}>PicasaユーザID</span></td>
	    <td><input type="text" name="item_picasa_id" value="{PICASA_ID}" size="40" maxlength="40" /></td>
	</tr>
        <tr>
	    <td class="table-headside"><span {_HELP_DISPLAY_TYPE}>表示タイプ</span></td>
	    <td>
    <select name="item_display_type">
        <patTemplate:tmpl name="display_list">
        <option value="{VALUE}" {SELECTED}>{NAME}</option>
        </patTemplate:tmpl>
    </select>
	    </td>
	</tr>
        <tr class="even">
	    <td class="table-headside">アルバム数</td>
	    <td><input type="text" name="item_album_count" value="{ALBUM_COUNT}" size="2" maxlength="2" onkeypress="return m3_numericKey(event,true);" /></td>
	</tr>
        <tr>
	    <td class="table-headside">画像サイズ</td>
	    <td>幅：<input type="text" name="item_image_width" value="{IMAGE_WIDTH}" size="3" maxlength="3" onkeypress="return m3_numericKey(event,true);" />px<!--&nbsp;&nbsp;高さ：<input type="text" name="item_image_height" value="{IMAGE_HEIGHT}" size="3" maxlength="3" onkeypress="return m3_numericKey(event,true);" />px--></td>
	</tr>
        <tr class="even">
	    <td class="table-headside">画像スタイル</td>
	    <td><input type="text" name="item_image_style" value="{IMAGE_STYLE}" size="100" maxlength="100" style="width:100%;" /></td>
	</tr>
        <tr>
	    <td class="table-headside"><span {_HELP_SELECT_ALBUM}>選択アルバム</span></td>
	    <td>
    <select name="item_select_album">
        <option value="" >-- 未選択 --</option>
        <patTemplate:tmpl name="album_list">
        <option value="{VALUE}" {SELECTED}>{NAME}</option>
        </patTemplate:tmpl>
    </select>
	    </td>
	</tr>
        <tr class="even">
	    <td class="table-headside">ランダム・選択アルバム<br />表示オプション</td>
	    <td><input type="checkbox" name="item_show_title" {CHECKED_SHOW_TITLE} />タイトル表示&nbsp;&nbsp;<br />画像数：<input type="text" name="item_image_count" value="{IMAGE_COUNT}" size="2" maxlength="2" onkeypress="return m3_numericKey(event,true);" />&nbsp;&nbsp;カラム数：<input type="text" name="item_col_count" value="{COL_COUNT}" size="2" maxlength="2" onkeypress="return m3_numericKey(event,true);" /></td>
	</tr>
	<tr>
	    <td align="right" colspan="2">
<patTemplate:tmpl name="del_button" visibility="hidden">
		<input type="button" class="button" onclick="deleteItem();" value="削除" />
</patTemplate:tmpl>
<patTemplate:tmpl name="update_button" visibility="hidden">
		<input type="button" class="button" onclick="updateItem();" value="更新" />
</patTemplate:tmpl>
<patTemplate:tmpl name="add_button" visibility="hidden">
		<input type="button" class="button" onclick="addItem();" value="新規追加" />
</patTemplate:tmpl>
	    </td>
	</tr>
    </tbody>
</table>
</td></tr>
</table>

</form>
</div>
</patTemplate:tmpl>
