<patTemplate:tmpl name="_tmpl">
{ID} .banner_image {
    margin:2px;
}
{ID}.banner_horizontal .banner_image_outer {
    float:left;
    width:240px;
    text-align:center;
    display:inline-block;
}
{ID}.banner_vertical .banner_image_outer {
    float:none;
    width:240px;
    text-align:center;
}
</patTemplate:tmpl>
