<patTemplate:tmpl name="_widget">
<div id="{CSS_ID}" style="padding:10px 0 10px 0;{BBS_STYLE}" >
{TOP_IMAGE}
<!-- m3:ErrorMessage -->
<patTemplate:tmpl name="thread_area">
<div style="{THREAD_STYLE}">
  <a href="{THREAD_URL}">全部</a>&nbsp;<a href="{THREAD50_URL}">最新50</a><br />
  <span style="color:{SUBJECT_COLOR}">{SUBJECT}</span><br />
  <patTemplate:tmpl name="message_list">{NO} 名前:{NAME}<br />{DATE}<br />{MESSAGE}<br /><br /></patTemplate:tmpl>
<hr />
<a href="{THREADNEW_URL}">新着ﾚｽの表示</a>
<hr />
  <a href="{THREAD_URL}">全部読む</a>&nbsp;<a href="{THREAD50_URL}">最新50</a>&nbsp;<a href="{THREAD100_URL}">1-100</a><br />
<form action="{POST_URL}" method="post" class="form bbs_form" enctype="{ENCTYPE}">
  <input type="hidden" name="task" value="read" />
  <input type="hidden" name="act" value="add" />
  <input type="hidden" name="ticket" value="{TICKET}" />
  <input type="hidden" name="threadid" value="{THREAD_ID}" />
  名前:<br /><input type="text" name="bbs_name" value="{BBS_NAME}" size="19" {NAME_DISABLED}/><br />E-mail(省略可):<br /><input type="text" name="bbs_email" value="{BBS_EMAIL}" size="19" {EMAIL_DISABLED}/><br />
  本文:<br />
  <textarea rows="5" cols="64" wrap="off" name="bbs_message" style="width:100%;" {MESSAGE_DISABLED}>{BBS_MESSAGE}</textarea><br />
  <patTemplate:tmpl name="file_upload" visibility="hidden"><input type="file" name="bbs_file" size="50" /></patTemplate:tmpl>
  <input type="submit" class="button" value="書き込む" {BUTTON_DISABLED}/>
</form>
</div>
</patTemplate:tmpl>
<br />
<a href="{BBS_URL}" accesskey="0">BBSﾎｰﾑに戻る[0]</a>
</div>
</patTemplate:tmpl>
