<patTemplate:tmpl name="_widget">
<!-- m3:ErrorMessage -->
<h1>ブログ検索結果</h1>
<patTemplate:tmpl name="message" visibility="hidden"><div>{MESSAGE}</div></patTemplate:tmpl>
<patTemplate:tmpl name="entrylist">
<h2>{TITLE}</h2>
<div style="text-align:right;">{BLOG_LINK}<span style="font-size:smaller;">{DATE}</span></div>
<div>{ENTRY}</div>
<div>&nbsp;&nbsp;</div>
</patTemplate:tmpl>
<patTemplate:tmpl name="page_link" visibility="hidden"><div>{PAGE_LINK}</div></patTemplate:tmpl>
</patTemplate:tmpl>
