<patTemplate:tmpl name="_widget">
<script type="text/javascript">
<!--
function delItem(){
    if (document.main.seriallist.value){
        var items = document.main.seriallist.value.split(",");
	for (var i = 0; i < items.length; i++){
	    var name = "document.main.item" + i + "_selected";
	    var itemObj = eval(name);
	    // チェックありのときは終了
	    if (itemObj && itemObj.checked) break;
	}
	if (i == items.length){			
	    window.alert('削除する項目を選択してください');
	} else {
            if (!window.confirm('選択項目を削除しますか?')) return false;
            document.main.act.value = 'delete';
            document.main.submit();
	}
    }
    return true;
}
function cancelItem(){
    document.main.task.value = '';
    document.main.submit();
    return true;
}
function showPreview(movieid, width, height){
	// プレビュー動画の更新
//	var width = document.main.item_width.value;
//	var height = document.main.item_height.value;
	var preOuter = $('#preview_outer');
	var innerText = '<embed src="http://www.youtube.com/v/' + movieid + '" width="' + width + '" height="' + height + '" type="application/x-shockwave-flash" wmode="transparent"></embed>';
	//var innerText = '<object id="preview_obj" data="' + url + '" type="application/x-shockwave-flash" width="' + width + '" height="' + height + '">' +
	//		'<param id="preview_param" name="movie" value="' + url + '" /><param name="wmode" value="transparent" /></object>';
	preOuter.html(innerText);
}
$(function(){
	// スクロールバー付きのテーブルを作成
	m3_tableWithScrollbar('itemlist', -1, 0);
});
// -->
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<form method="post" name="main" class="form">
<input type="hidden" name="task" value="list" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" />
<input type="hidden" name="seriallist" value="{SERIAL_LIST}" />
<input type="hidden" name="defserial" value="{DEF_SERIAL}" />
<input type="hidden" name="defconfig" value="{DEF_CONFIG}" />
<table width="90%">
<tr><td>
<label>YouTube定義一覧</label>
</td><td align="right"><input type="button" class="button" onclick="delItem();" value="削除" /><input type="button" class="button" onclick="cancelItem();" value="戻る" />
</td></tr>
<tr><td colspan="2">
<table id="itemlist" class="simple-table" width="100%">
    <thead>
        <tr>
	    <th width="35" align="center">選択</th>
	    <th width="40%" align="center">名前</th>
	    <th width="40%" align="center">動画ID</th>
	    <th align="center">使用</th>
	</tr>
    </thead>
    <tbody>
        <patTemplate:tmpl name="itemlist">
        <tr onclick="showPreview('{MOVIE_ID}', '{WIDTH}', '{HEIGHT}');">
            <td align="center"><input type="checkbox" name="item{INDEX}_selected" {OPE_DISABLED} /></td>
	    <td>{NAME}</td>
	    <td>{MOVIE_ID}</td>
	    <td align="center">{DEF_COUNT}</td>
	</tr>
	</patTemplate:tmpl>
    </tbody>
</table>
<tr><td colspan="2">
<br />
<div>
<label>YouTubeプレビュー</label></div>
<div id="preview_outer"></div>
</td></tr>
</table>

</form>
</div>
</patTemplate:tmpl>
