<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function addItem(){
	if (!window.confirm('項目を新規追加しますか?')) return false;
	document.main.act.value = 'add';
	document.main.submit();
	return true;
}
function updateItem(){
	if (!window.confirm('設定を更新しますか?')) return false;
	document.main.act.value='update';
	document.main.submit();
	return true;
}
function selectItem()
{
	document.main.act.value = 'select';
	document.main.submit();
	return true;
}
function listItem(){
	document.main.task.value = 'list';
	document.main.submit();
	return true;
}
function clearHtml()
{
	document.main.item_html.value = '';
}
//]]>
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" value="{SERIAL}" />
<!-- m3:PostParam -->
<table width="90%">
<tr><td><label>ブログパーツ詳細</label></td>
<td align="right"><input type="button" class="button" onclick="listItem();" value="一覧" />
</td></tr>
<tr><td colspan="2">

<table class="simple-table" width="100%">
    <tbody>
        <tr>
	    <td class="table-headside" width="100">名前</td>
	    <td>
	    <select name="item_id" onchange="selectItem();" {ID_DISABLED}>
	        <option value="0">-- 新規登録 --</option>
	        <patTemplate:tmpl name="title_list">
	        <option value="{VALUE}" {SELECTED}>{NAME}</option>
	        </patTemplate:tmpl>
	    </select>
	    <patTemplate:tmpl name="item_name_visible" visibility="hidden">
	    <input type="text" name="item_name" value="{NAME}" size="40" maxlength="40" />
	    </patTemplate:tmpl>
	    </td>
	</tr>
        <tr class="even">
	    <td class="table-headside">スクリプト内容<br /><input type="button" class="button" onclick="clearHtml();" value="クリア" /></td>
	    <td><textarea name="item_html" rows="10" style="width:100%;">{HTML}</textarea></td>
	</tr>
	<tr>
	    <td align="right" colspan="2">
<patTemplate:tmpl name="del_button" visibility="hidden">
		<input type="button" class="button" onclick="deleteItem();" value="削除" />
</patTemplate:tmpl>
<patTemplate:tmpl name="update_button" visibility="hidden">
		<input type="button" class="button" onclick="updateItem();" value="更新" />
</patTemplate:tmpl>
<patTemplate:tmpl name="add_button" visibility="hidden">
		<input type="button" class="button" onclick="addItem();" value="新規追加" />
</patTemplate:tmpl>
	    </td>
	</tr>
    </tbody>
</table>
</td></tr>
</table>
</form>
</div>
</patTemplate:tmpl>
