.link_top {
	margin:0 10px;
	text-align:right;
}
.entry_head {
/*	margin-top:5px;*/
	margin-bottom:5px;
}
.event_date {
	margin-right:15px;
}
.event_category_list {
	margin-top:5px;
	margin-bottom:5px;
}
.event_page_link {
	margin-top:5px;
	margin-bottom:5px;
}
