/* begin Page */
img
{
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = GetStyleUrl()+"../images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
/* end Page */

/* begin Box, Sheet */

.Sheet
{
  width: 900px;
  zoom: 1;
}



.Sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Sheet-c.png',sizingMethod='scale')");
}


/* end Box, Sheet */

/* begin Menu */

.artmenu, .artmenu ul
{
  height: 1%;
}

.artmenu li.artmenuhover
{
  z-index: 10000;
}

.artmenu .artmenuhoverUL
{
  visibility: visible;
}

.artmenu .artmenuhoverUL
{
  top: 100%;
  left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
  top: 0;
  left: 100%;
}

.artmenu ul a
{
  height: 1%;
}

.artmenu li li
{
  float: left;
  width: 100%;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
  top: 5px;
  left: 100%;
}

.artmenu, .artmenu ul
{
  height: 1%;
}

.artmenu li.artmenuhover
{
  z-index: 10000;
}

.artmenu .artmenuhoverUL
{
  visibility: visible;
}

.artmenu .artmenuhoverUL
{
  top: 100%;
  left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
  top: 0;
  left: 100%;
}

.artmenu ul a
{
  height: 1%;
}

.artmenu li li
{
  float: left;
  width: 100%;
}


.nav
{
  zoom: 1;
}


.nav .l
{
  width: expression(this.parentNode.offsetWidth-0+'px');
}


.nav .r
{
  left: expression(this.parentNode.offsetWidth-0+'px');
}


.nav .r div
{
  left: expression(this.parentNode.offsetWidth-900+'px');
}


.nav .l, .nav .r div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/nav.png',sizingMethod='crop')");
}

/* end Menu */

/* begin MenuItem */

.artmenu a , .artmenu a span
{
  float: left;
}


.artmenu a span span
{
  display: inline;
}


.artmenu .artmenuhover .artmenuhoverA
{
  background-position: left -40px;
}

.artmenu .artmenuhover .artmenuhoverA span
{
  background-position: right -40px;
}


.artmenu .artmenuhover .artmenuhoverA span span
{
  color: #EBEBEB;
  background-position: left -40px;
}

/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
  font-size: 1px;
  zoom:1;
}
/* end MenuSeparator */

/* begin Box, Block */

.Block
{
  zoom: 1;
}


.Block-tl
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-s.png',sizingMethod='crop')");
}

.Block-tr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-11+'px');
}

.Block-tr div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-s.png',sizingMethod='crop')");
}

.Block-bl
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-11+'px');
}

.Block-bl div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-s.png',sizingMethod='crop')");
}

.Block-br
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-11+'px');
  left: expression(this.parentNode.offsetWidth-11+'px');
}

.Block-br div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-s.png',sizingMethod='crop')");
}

.Block-tc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-22+'px');
}

.Block-tc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-h.png',sizingMethod='crop')");
}

.Block-bc
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-11+'px');
  width: expression(this.parentNode.offsetWidth-22+'px');
}

.Block-bc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-h.png',sizingMethod='crop')");
}

.Block-cl
{
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-22+'px');
}

.Block-cl div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-v.png',sizingMethod='crop')");
}

.Block-cr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-11+'px');
  height: expression(this.parentNode.offsetHeight-22+'px');
}

.Block-cr div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Block-v.png',sizingMethod='crop')");
}

.Block-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-22+'px');
  height: expression(this.parentNode.offsetHeight-22+'px');
}


/* end Box, Block */

/* begin BlockHeader */

.BlockHeader
{
  zoom: 1;
}


.BlockHeader .l
{
  width: expression(this.parentNode.offsetWidth-2+'px');
}


.BlockHeader .r
{
  left: expression(this.parentNode.offsetWidth-2+'px');
}


.BlockHeader .r div
{
  left: expression(this.parentNode.offsetWidth-900+'px');
}

.BlockHeader .l, .BlockHeader .r div
{
  font-size: 1px;
}


.BlockHeader .l, .BlockHeader .r div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockHeader.png',sizingMethod='crop')");
}


.header-tag-icon
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */

.BlockContent
{
  zoom: 1;
}




.BlockContent-body ul li
{
  height:1%;
  background:none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */

.Post
{
  zoom: 1;
}


.Post-tl
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-s.png',sizingMethod='crop')");
}

.Post-tr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-6+'px');
}

.Post-tr div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-s.png',sizingMethod='crop')");
}

.Post-bl
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-6+'px');
}

.Post-bl div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-s.png',sizingMethod='crop')");
}

.Post-br
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-6+'px');
  left: expression(this.parentNode.offsetWidth-6+'px');
}

.Post-br div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-s.png',sizingMethod='crop')");
}

.Post-tc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-12+'px');
}

.Post-tc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-h.png',sizingMethod='crop')");
}

.Post-bc
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-6+'px');
  width: expression(this.parentNode.offsetWidth-12+'px');
}

.Post-bc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-h.png',sizingMethod='crop')");
}

.Post-cl
{
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-12+'px');
}

.Post-cl div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-v.png',sizingMethod='crop')");
}

.Post-cr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-6+'px');
  height: expression(this.parentNode.offsetHeight-12+'px');
}

.Post-cr div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Post-v.png',sizingMethod='crop')");
}

.Post-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-12+'px');
  height: expression(this.parentNode.offsetHeight-12+'px');
}


/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */

.Post ul li
{
  height:1%;
  background:none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/PostBullets.png',sizingMethod='crop')");
}

/* end PostBullets */

/* begin PostQuote */

blockquote
{
  height:1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/PostQuote.png',sizingMethod='crop')");
}

/* end PostQuote */

/* begin Button */
button.Button, a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}

.Button, .Button .btn
{
  font-size: 1px;
}


.Button .r
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-11+'px');
}


.Button .r span
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-411+'px');
}


.Button .l
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-11+'px');
}


.Button .l, .Button .r span
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Button.png',sizingMethod='crop')");
}

/* end Button */

/* begin Footer */

.Footer .Footer-background
{
  top: expression(this.parentNode.offsetHeight-100+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Footer.png',sizingMethod='crop')");
  zoom: 1;
  font-size:1px;
}


.rss-tag-icon
{
  zoom:1;
  font-size:1px;
  background:none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/livemarks.png',sizingMethod='crop')");
}

/* end Footer */



form#form-login ul li 
{ 
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
