<patTemplate:tmpl name="_widget">
<link rel="stylesheet" href="{_ROOT_URL}/scripts/js_color_picker_v2/js_color_picker_v2.css" media="screen" />
<script src="{_ROOT_URL}/scripts/js_color_picker_v2/color_functions.js"></script>
<script type="text/javascript" src="{_ROOT_URL}/scripts/js_color_picker_v2/js_color_picker_v2.js"></script>
<style type="text/css">
<!--
/* menu item with sub menu */
.eccascademenu .hassubmenu {
	color: {COLOR4};
	background: url({_WIDGET_URL}/images/{FILENAME}) 0 -96px;
}
.eccascademenu {
        width: 160px;	/* menu width */
	border-style: none;
	border-width: 0px;
	margin: 0px;
}
.eccascademenu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
}
.eccascademenu  ul li {
	position: relative;	/* submenu position */
	background-image:none;
	padding: 0px;
	list-style       : none;
	list-style-image : none;
	height:32px;
	width: 160px;
	
	margin: 0px;
}
.eccascademenu ul li a {
	color: {COLOR1};
	height:100%;
        text-decoration: none;
	text-align:center;	/* centering text */
	line-height:30px;	/* centering text */
	overflow: auto;		/*force hasLayout in IE7 */
	/*border: 1px solid #ccc;*/ /* menu item outline */
	background: url({_WIDGET_URL}/images/{FILENAME});
}
.eccascademenu ul li a:link, .eccascademenu ul li a:visited {
        display: block;
/*        background: url({_WIDGET_URL}/images/menu1.png);*/
}

.eccascademenu ul li a:hover, .eccascademenu li #current {
        color: {COLOR2};
        background: url({_WIDGET_URL}/images/{FILENAME}) 0 -32px;
}

.eccascademenu ul li a:active {
        color: {COLOR3};
        background: url({_WIDGET_URL}/images/{FILENAME}) 0 -64px;
}
/* sub menu */
.eccascademenu ul li ul{
	position: absolute;
	top: 0;
	visibility: hidden;
}
/* for IE6 */
* html .eccascademenu ul li { float: left;}
/* 以下は、カスケードメニューがtableタグ内にあり、メニュー生成のjavascriptがtableタグ外にあると正しく表示できない問題を回避するもの */
* html .eccascademenu ul li ul { margin-left: 160px;}

/************* 以下はサンプル画像表示用 **************/
.eccascademenu #normal {
	background: url({_WIDGET_URL}/images/{FILENAME});
}
.eccascademenu #active {
	background: url({_WIDGET_URL}/images/{FILENAME}) 0 -32px;
}
.eccascademenu #clicked {
	background: url({_WIDGET_URL}/images/{FILENAME}) 0 -64px;
}
.eccascademenu #submenu {
	background: url({_WIDGET_URL}/images/{FILENAME}) 0 -96px;
}
-->
</style>
<script type="text/javascript">
<!--
function updateItem(serialNo){
    if (!window.confirm('メニューを更新しますか?')) return false;
    document.main.act.value = 'update';
    document.main.submit();
    return true;
}

function selectMenu(){
    document.main.act.value = 'select';
    document.main.submit();
    return true;
}
function uploadCheck(){
	document.upload.act.value = 'upload';
	if (window.confirm('ファイルをアップロードします')){
		document.upload.submit();
	}
}
function changeColor1(){
	$('normal').style.color = $('item_color1').value;
}
function changeColor2(){
	$('active').style.color = $('item_color2').value;
}
function changeColor3(){
	$('clicked').style.color = $('item_color3').value;
}
function changeColor4(){
	$('submenu').style.color = $('item_color4').value;
}
// 画像表示
function showImage(filename){
	var imgPath = '{_WIDGET_URL}/images/' + filename;
	m3_showImagePopup(imgPath, filename);
}
// -->
</script>
<div align="center">
<br />
<!-- m3:ErrorMessage -->
<table border="0" cellpadding="0" cellspacing="0"><tr><td><!-- don't remove this line for ie bug -->
<div class="eccascademenu">
<label>メニューサンプル</label>
<ul id="category_menu">
<li><a id="current" href="#">項目 1</a></li>
<li><a href="#">項目 2</a></li>
<li><a href="#">Folder 1</a>
  <ul>
  <li><a href="#">サブ項目 1.1</a></li>
  <li><a href="#">サブ項目 1.2</a></li>
  </ul>
</li>
<li><a href="#">項目 3</a></li>
<li><a href="#">Folder 2</a>
  <ul>
  <li><a href="#">Sub Item 2.1</a></li>
  <li><a href="#">Folder 2.1</a>
    <ul>
    <li><a href="#">Sub Item 2.1.1</a></li>
    <li><a href="#">Sub Item 2.1.2</a></li>
    <li><a href="#">Sub Item 2.1.3</a></li>
    <li><a href="#">Sub Item 2.1.4</a></li>
    </ul>
  </li>
  </ul>
</li>
<li><a href="#">Item 4</a></li>
</ul>
</div>
<!-- 以下のスクリプトはtableタグの内側にメニューと共に存在する必要がある(IE5バグ回避のため) -->
<script type="text/javascript">
<!--
var menu = new m3_cascadeMenu('category_menu');
// -->
</script>
</tr></td></table><!-- don't remove this line for ie bug -->
<br />
<form method="post" name="main">
<input type="hidden" name="act" />
<input type="hidden" name="serial" value="{SERIAL}" />
<table>
<tr><td>
<table class="simple-table" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>
        <tr>
	    <td class="table-head">メニュータイトル</td>
	    <td colspan="2">
		<input type="text" name="item_title" value="{TITLE}" size="30" maxlength="30" />
	    </td>
	</tr>
        <tr class="even">
	    <td class="table-head">画像メニュー</td>
	    <td colspan="2">
		<input type="checkbox" name="item_image_menu" {IMAGE_MENU} />
	    </td>
	</tr>
        <tr>
	    <td class="table-head">画像ファイル</td>
	    <td>
	    <select name="item_image" onchange="selectMenu();">
	        <patTemplate:tmpl name="image_file_list">
	        <option value="{VALUE}" {SELECTED}>{NAME}</option>
	        </patTemplate:tmpl>
	    </select>
	    </td>
	    <td align="right">
	    <input type="button" value="画像を表示" onclick="showImage(document.forms[0].item_image.value);" />
	    </td>
	</tr>
        <tr class="even">
	    <td class="table-head">文字の色</td>
	    <td>
		<div class="eccascademenu">
		<ul>
		<li><a id="normal" href="#" style="color:{COLOR1};">通常表示</a></li>
		<li><a id="active" href="#" style="color:{COLOR2};">アクティブ表示</a></li>
		<li><a id="clicked" href="#" style="color:{COLOR3};">クリック時</a></li>
		<li><a id="submenu" href="#" style="color:{COLOR4};">サブメニューあり</a>
		</ul>
		</div>
	    </td>
	    <td>
	    <div style="height:32px;">
	    <input type="text" id="item_color1" name="item_color1" value="{COLOR1}" size="7" maxlength="7" onchange="changeColor(this);" style="width:70px;margin-top:7px" />
	    <input type="button" value="カラー" onclick="showColorPicker(this,document.forms[0].item_color1,changeColor1);" />
	    </div>
	    <div style="height:32px;">
	    <input type="text" id="item_color2" name="item_color2" value="{COLOR2}" size="7" maxlength="7" style="width:70px;margin-top:7px" />
	    <input type="button" value="カラー" onclick="showColorPicker(this,document.forms[0].item_color2,changeColor2);" />
	    </div>
	    <div style="height:32px;">
	    <input type="text" id="item_color3" name="item_color3" value="{COLOR3}" size="7" maxlength="7" style="width:70px;margin-top:7px" />
	    <input type="button" value="カラー" onclick="showColorPicker(this,document.forms[0].item_color3,changeColor3);" />
	    </div>
	    <div style="height:32px;">
	    <input type="text" id="item_color4" name="item_color4" value="{COLOR4}" size="7" maxlength="7" style="width:70px;margin-top:7px" />
	    <input type="button" value="カラー" onclick="showColorPicker(this,document.forms[0].item_color4,changeColor4);" />
	    </div>
	    </td>
	</tr>
        <tr>
	    <td class="table-head">表示階層</td>
	    <td colspan="2">
		<input type="text" name="item_level_count" value="{LEVEL_COUNT}" size="2" maxlength="2" />まで
	    </td>
	</tr>
	<tr class="even">
	<td align="center" colspan="2">
	</td>
	<td align="center">
		<input type="button" class="button" onclick="updateItem();" value="更新" />
	</td>
	</tr>
    </tbody>
</table>
</td></tr>
</table>
</form>
<form enctype="multipart/form-data" method="post" name="upload">
<input type="hidden" name="act" />
<table class="simple-table" border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>
        <tr>
	    <td class="table-head" colspan="2">画像アップロード</td>
	</tr>
        <tr>
	    <td colspan="2"><input type="file" name="upfile" size="50" /></td>
	</tr>
	<tr class="even">
	<td>
	</td>
	<td align="right">
		<input type="button" class="button" onclick="uploadCheck();" value="アップロード" />
	</td>
	</tr>
    </tbody>
</table>
</form>
</div>
</patTemplate:tmpl>
