<patTemplate:tmpl name="_widget">
<img name="hr1" style="margin:0;padding:0;border:0;" /><img name="hr2" style="margin:0;padding:0;border:0;" /><img src="{IMG_URL}/dgc.gif" name="c" style="margin:0;padding:0;border:0;" /><img name="mn1" style="margin:0;padding:0;border:0;" /><img name="mn2" style="margin:0;padding:0;border:0;" /><img src="{IMG_URL}/dgc.gif" name="c" style="margin:0;padding:0;border:0;" /><img name="se1" style="margin:0;padding:0;border:0;" /><img name="se2" style="margin:0;padding:0;border:0;" /><img name="ampm" style="margin:0;padding:0;border:0;" />
<script type="text/javascript">
<!-- 
dg0 = new Image();dg0.src = "{IMG_URL}/dg0.gif";
dg1 = new Image();dg1.src = "{IMG_URL}/dg1.gif";
dg2 = new Image();dg2.src = "{IMG_URL}/dg2.gif";
dg3 = new Image();dg3.src = "{IMG_URL}/dg3.gif";
dg4 = new Image();dg4.src = "{IMG_URL}/dg4.gif";
dg5 = new Image();dg5.src = "{IMG_URL}/dg5.gif";
dg6 = new Image();dg6.src = "{IMG_URL}/dg6.gif";
dg7 = new Image();dg7.src = "{IMG_URL}/dg7.gif";
dg8 = new Image();dg8.src = "{IMG_URL}/dg8.gif";
dg9 = new Image();dg9.src = "{IMG_URL}/dg9.gif";
dgam= new Image();dgam.src= "{IMG_URL}/dgam.gif";
dgpm= new Image();dgpm.src= "{IMG_URL}/dgpm.gif";
dgc = new Image();dgc.src = "{IMG_URL}/dgc.gif";

function dgUpdateTime()
{ 
	theTime = setTimeout('dgUpdateTime()', 1000);
	d = new Date();
	hr = d.getHours() + 100;
	mn = d.getMinutes() + 100;
	se = d.getSeconds() + 100;
	if (hr == 100){
		hr = 112;
		am_pm = 'am';
	} else if (hr < 112){
		am_pm = 'am';
	} else if (hr == 112){
		am_pm = 'pm';
	} else if (hr > 112){
		am_pm = 'pm';
		hr -= 12;
	}
	tot = '' + hr + mn + se;
	document.hr1.src = '{IMG_URL}/dg' + tot.substring(1,2) + '.gif';
	document.hr2.src = '{IMG_URL}/dg' + tot.substring(2,3) + '.gif';
	document.mn1.src = '{IMG_URL}/dg' + tot.substring(4,5) + '.gif';
	document.mn2.src = '{IMG_URL}/dg' + tot.substring(5,6) + '.gif';
	document.se1.src = '{IMG_URL}/dg' + tot.substring(7,8) + '.gif';
	document.se2.src = '{IMG_URL}/dg' + tot.substring(8,9) + '.gif';
	document.ampm.src = '{IMG_URL}/dg' + am_pm + '.gif';
}
dgUpdateTime();
-->
</script>
</patTemplate:tmpl>
