<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
//]]>
</script>
<div id="{CSS_ID}" style="{BLOG_STYLE}" >
<patTemplate:tmpl name="top_link_area" visibility="hidden"><div style="{LINK_STYLE_TOP}"><a href="{REGIST_URL}"><b>{REGIST_NAME}</b></a></div></patTemplate:tmpl>
<div align="center">
<!-- m3:ErrorMessage -->
<div style="{INNER_STYLE}">
<patTemplate:tmpl name="message_list">
<div class="chacha_message_list">
<div class="chacha_avatar">{AVATAR}</div>
<div class="chacha_message_right">
<div class="chacha_message_main"><span class="chacha_message_membername">{NAME}</span><span class="chacha_message_body">{MESSAGE}</span></div>
<div class="chacha_message_info"><span class="chacha_message_date">{DATE}</span><span class="chacha_message_id">{ID}</span><span class="chacha_message_count">{MESSAGE_COUNT}</span></div>
</div>
<div style="clear: both;"></div>
</div>
</patTemplate:tmpl>
<div style="{LINK_STYLE_INNER_BOTTOM}">{PAGE_LINK}</div>
</div>
</div>
<div style="{LINK_STYLE_BOTTOM}"><a href="{HOME_URL}"><b>ブログホーム</b></a></div>
</div>
</patTemplate:tmpl>
