<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function custom_search(){
	$('#{SEARCH_TEXT_ID}').attr('disabled', 'disabled');
	$('#{SEARCH_BUTTON_ID}').attr('disabled', 'disabled');
	var value = $('#{SEARCH_TEXT_ID}').val();
	if (value) document.custom_search_box.keyword.value = value;
	document.custom_search_box.act.value = '{SEARCH_ACT}';
	document.custom_search_box.submit();
	return true;
}
function custom_search_reset(){
	$('#{SEARCH_FORM_ID} :input').each(function(){
		var type = this.type;
		var tag = this.tagName.toLowerCase();
		if (type == 'text' || type == 'password' || tag == 'textarea'){
			this.value = '';
		} else if (type == 'checkbox' || type == 'radio'){
			this.checked = false;
		} else if (tag == 'select'){
			this.selectedIndex = -1;
		}
	});
}
$(function(){
	$('#{SEARCH_TEXT_ID}').val('{KEYWORD}');
	$('#{SEARCH_BUTTON_ID}').click(function(){
		custom_search();
	});
	$('#{SEARCH_RESET_ID}').click(function(){
		custom_search_reset();
	});
});
//]]>
</script>
<form id="{SEARCH_FORM_ID}" name="custom_search_box" method="get" class="form" onsubmit="custom_search();">
<input type="hidden" name="sub" value="{PAGE_SUB}" />
<input type="hidden" name="act" />
<input type="hidden" name="keyword" />
{HTML}
</form>
<patTemplate:tmpl name="message" visibility="hidden"><div class="search_message">{MESSAGE}</div></patTemplate:tmpl>
</patTemplate:tmpl>
