<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function selectMenu(){
	document.main.submit();
	return true;
}
function editItem(){
	if (!document.main.roomid.value){
		window.alert('ルームを選択してください');
		return;
	}
	
	if (document.main.seriallist.value){
		var items = document.main.seriallist.value.split(",");
		for (var i = 0; i < items.length; i++){
			var name = "document.main.item" + i + "_selected";
			var itemObj = eval(name);
			// チェックありのときは終了
			if (itemObj && itemObj.checked) break;
		}
		if (i == items.length){			
			window.alert('編集する項目を選択してください');
		} else {
			document.main.task.value = 'content_detail';
			document.main.act.value = 'edit';
			document.main.serial.value = items[i];
			document.main.submit();
		}
	}
	return true;
}
function editItemBySerial(serial){
	if (!document.main.roomid.value){
		window.alert('ルームを選択してください');
		return;
	}
	
	document.main.task.value = 'content_detail';
	document.main.act.value = 'edit';
	document.main.serial.value = serial;
	document.main.submit();
}
$(function(){
	// スクロールバー付きのテーブルを作成
	m3_tableWithScrollbar('itemlist', -1, 0);
});
//]]>
</script>
<div align="center">
{MENU_ITEMS}
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" value="content" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" />
<input type="hidden" name="seriallist" value="{SERIAL_LIST}" />
<input type="hidden" name="roomid" value="{ROOM_ID}" />
<table width="90%">
<tr><td>
<label><span {_HELP_CONTENT_LIST}>コンテンツ部品一覧</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label><span {_HELP_CONTENT_ROOM_ID}>ルームID：</span></label>
<label>{ROOM_ID}</label>
</td>
<td align="right"><span {_HELP_CONTENT_EDIT_BTN}><input type="button" class="button" onclick="editItem();" value="編集" {EDIT_BTN_DISABLED} /></span>
</td></tr>
<tr><td colspan="2">
<table id="itemlist" class="simple-table" width="100%">
    <thead>
        <tr>
	    <th width="35"><span {_HELP_CONTENT_CHECK}>選択</span></th>
	    <th width="200"><span {_HELP_CONTENT_NAME}>名前</span></th>
	    <th width="200"><span {_HELP_CONTENT_TAG}>埋め込みタグ</span></th>
	    <th><span {_HELP_CONTENT_DATA}>設定データ</span></th>
	</tr>
    </thead>
    <tbody>
        <patTemplate:tmpl name="itemlist">
        <tr>
            <td align="center"><input type="checkbox" name="item{INDEX}_selected" /></td>
	    <td><a href="#" onclick="editItemBySerial('{ID}');">{NAME}</a></td>
	    <td>{TAG}</td>
	    <td>{DATA}</td>
	</tr>
	</patTemplate:tmpl>
    </tbody>
</table>
</td></tr>
</table>
</form>
</div>
</patTemplate:tmpl>
