#m3menubar {
	margin:0px;
	padding:0;
	display:block;
	height:45px;		/* menubar height */
	list-style:none;
	/*margin-right:4px;*/	/* Firefox only */
	/*margin-bottom:5px;*/	/* menubar bottom margin */
	/*border-top:1px solid #EF593B;
	border-bottom:1px solid #EF593B;*/
/*	border-left:10px solid #D04528;*/
/*	border-left:0px solid #D04528;*/
/*	-moz-box-shadow:0px 3px 4px #591E12;
	-webkit-box-shadow:0px 3px 4px #591E12;
	-box-shadow:0px 3px 4px #591E12;*/
}
#m3menubar a{
	text-decoration:none;
	font-weight: bold;
}
#m3menubar > li{
	float:left;
	position:relative;
	z-index: 50000;		/* IE only */
}
#m3menubar > li > span{
	float:left;
	height:45px;		/* menubar height */
	line-height:45px;	/* menubar height */
/*	cursor:default;*/
	cursor:pointer;
	padding:0px 20px;
}
#m3menubar .ldd_submenu{
	position:absolute;
	top:45px;		/* menubar height */
/*	width:725px;*/	/* submenu width */
	display:none;
/*	opacity:0.95;*/
	left:0px;
/*	font-size:110%;*/
	z-index:50000;		/* display top */
	background-image: none;
/*	border-top:1px solid #EF593B;
	-moz-box-shadow:0px 3px 4px #591E12 inset;
	-webkit-box-shadow:0px 3px 4px #591E12 inset;
	-box-shadow:0px 3px 4px #591E12 inset;*/
}
#m3menubar a.ldd_subfoot{
	display:block;
	clear:both;
	padding:15px 20px;
	text-transform:uppercase;
/*	font-size:12px;*/
/*	-moz-box-shadow:0px 0px 2px #777 inset;
	-webkit-box-shadow:0px 0px 2px #777 inset;
	-box-shadow:0px 0px 2px #777 inset;*/
}
#m3menubar .device img {
	margin: 10px 7px;
}
#m3menubar .device .static {
	display:inline-block;
	height:45px;
}
