/* 画像 */
img.facemark {
	border: none !important;
}

.youtube-wrap iframe {
	padding: 10px;
}
@media screen and (max-width: 767px) {
	.youtube-wrap {
		position: relative;
		padding-bottom: 56.25%;
/*		padding-top: 30px;*/
		height: 0;
		overflow: hidden;
	}
	.youtube-wrap iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 10px 0;
	}
}
.googlemaps_wrap {
	margin: 10px;
}
@media screen and (max-width: 767px) {
	.googlemaps_wrap {
		margin: 10px 0;
	}
}

pre.wiki_pre {
	border-top:#DDDDEE 1px solid;
	border-bottom:#888899 1px solid;
	border-left:#DDDDEE 1px solid;
	border-right:#888899 1px solid;
	padding:.5em;
	margin-left:.5em;
	margin-right:.5em;
	white-space: pre-wrap;
	color:black;
	background-color:#F0F8FF;
}
p.wiki_small_title {
	font-size:80%;
	text-align:right;
}
a.note_super {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}
/*div.jumpmenu {
	font-size:60%;
	text-align:right;
}*/
hr.full_hr {
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
}
hr.wiki_hr {
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
}
hr.note_hr {
	width:90%;
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
	text-align:center;
	margin:1em auto 0em auto;
}
/*ul.wiki_list li {
	margin-left: .5em;
	margin-right: 0;
}*/
/*
ul.wiki_list1 { list-style-type:disc; }
ul.wiki_list2 { list-style-type:circle; }
ul.wiki_list3 { list-style-type:square; }
ol.wiki_list1 { list-style-type:decimal; }
ol.wiki_list2 { list-style-type:lower-roman; }
ol.wiki_list3 { list-style-type:lower-alpha; }
*/
/*
dl.wiki_list dt {
	font-weight:bold;
	margin-top:1em;
}
dl.wiki_list1 dt {
	font-weight:bold;
	margin-top:1em;
}
dl.wiki_list2 dt {
	font-weight:bold;
	margin-top:1em;
}
dl.wiki_list3 dt {
	font-weight:bold;
	margin-top:1em;
}*/
span.noexists {
	color:inherit;
	background-color:#FFFACC;
}
span.size1 {
	font-size:xx-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size2 {
	font-size:x-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size3 {
	font-size:small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size4 {
	font-size:medium;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size5 {
	font-size:large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size6 {
	font-size:x-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size7 {
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
/* html.php/catbody() */
/*strong.word0 {
	background-color:#FFFF66;
	color:black;
}
strong.word1 {
	background-color:#A0FFFF;
	color:black;
}
strong.word2 {
	background-color:#99FF99;
	color:black;
}
strong.word3 {
	background-color:#FF9999;
	color:black;
}
strong.word4 {
	background-color:#FF66FF;
	color:black;
}
strong.word5 {
	background-color:#880000;
	color:white;
}
strong.word6 {
	background-color:#00AA00;
	color:white;
}
strong.word7 {
	background-color:#886800;
	color:white;
}
strong.word8 {
	background-color:#004699;
	color:white;
}
strong.word9 {
	background-color:#990099;
	color:white;
}*/
/* diff.inc.php */
span.diff_added {
	color:blue;
	background-color:inherit;
}

span.diff_removed {
	color:red;
	background-color:inherit;
}
/* new.inc.php */
span.comment_date { font-size:x-small; }
span.new1 {
	color:red;
	background-color:transparent;
	font-size:x-small;
}
span.new5 {
	color:green;
	background-color:transparent;
	font-size:xx-small;
}
thead td.style_td,
tfoot td.style_td {
	color:inherit;
	background-color:#D0D8E0;
}
thead th.style_th,
tfoot th.style_th {
	color:inherit;
	background-color:#E0E8F0;
}
.style_table {
	padding:0px;
	border:0px;
	margin:auto;
	text-align:left;
	color:inherit;
	background-color:#ccd5dd;
}
.style_th {
	padding:5px;
	margin:1px;
	text-align:center;
	color:inherit;
	background-color:#EEEEEE;
}
.style_td {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
}

.super_index {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}
.anchor_super {
	font-size:xx-small;
	vertical-align:super;
}
/* html.php/edit_form() */
.edit_form {
	/*clear:both;*/
}
.small { font-size:80%; }

/***** plugin *****/
/* hr plugin */
hr.wiki_hr_short {
	text-align:center;
	width:80%;
	margin:1em auto 1em auto;
	border-style:solid;
	border-color:#333333;
	border-width:1px 0px;
}
/* vote plugin */
td.vote_label {
	color:inherit;
	background-color:#FFCCCC;
}
td.vote_td1 {
	color:inherit;
	background-color:#DDE5FF;
}
td.vote_td2 {
	color:inherit;
	background-color:#EEF5FF;
}
/* br plugin */
.wiki_spacer {
}
/* clear plugin */
/*.wiki_clear {
	margin:0px;
	clear:both;
}*/
/* calendar plugin */
.style_calendar {
	padding:0px;
	border:0px;
	margin:3px;
	color:inherit;
	background-color:#CCD5DD;
	text-align:center;
}
.style_td_caltop {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
	font-size:80%;
	text-align:center;
}
.style_td_today {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#FFFFDD;
	text-align:center;
}
.style_td_sat {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#DDE5FF;
	text-align:center;
}
.style_td_sun {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#FFEEEE;
	text-align:center;
}
.style_td_blank {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
	text-align:center;
}
.style_td_day {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
	text-align:center;
}
.style_td_week {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#DDE5EE;
	font-size:80%;
	font-weight:bold;
	text-align:center;
}
/* calendar_viewer plugin */
div.calendar_viewer {
	color:inherit;
	background-color:inherit;
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:10px;
}
span.calendar_viewer_left {
	color:inherit;
	background-color:inherit;
	float:left;
}
span.calendar_viewer_right {
	color:inherit;
	background-color:inherit;
	float:right;
}
div.toolbar {
	margin:10px 0;
}
div.toolbar img {
	border:none;
}
/* navi */
ul.navi {
	margin:0px;
	padding:0px;
	text-align:center;
}
li.navi_none {
	display:inline;
	float:none;
}
li.navi_left {
	display:inline;
	float:left;
	text-align:left;
}
li.navi_right {
	display:inline;
	float:right;
	text-align:right;
}
/* remove list mark */
ul.navi > li:before {
    content: none !important;
    margin: 0;
    padding: 0;
}
ul.navi > li {
    padding-left: 0;
}
ul.navi {
    padding-left: 0;
    list-style: none;
}
/* ソーシャルシェアボタン */
/* remove list mark */
ul.social-button > li:before {
	content: none !important;
	margin: 0;
	padding: 0;
}
ul.social-button > li {
	padding-left: 0;
}
ul.social-button {
	padding-left: 0;
	list-style: none;
}
ul.social-button li {
	overflow: hidden;
	float: left;
/*	text-align: center;*/
	height: 71px;
	margin: 0 8px;
	padding:0;
}
.button-twitter {
	width: 80px;
}
.button-facebook {
	width: 75px;
}
.button-hatena {
}
.button-google {
}
/***** add for magic3 *****/
textarea.wiki_edit {
	width: 100%;
	font-size: 100%;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}
/*
input {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}*/
