<patTemplate:tmpl name="_widget">
<script type="text/javascript">
//<![CDATA[
function delItem(){
	if (!window.confirm('項目を削除しますか?')) return false;
	document.main.act.value = 'delete';
	document.main.submit();
	return true;
}
function updateItem(){
	if (!window.confirm('項目を更新しますか?')) return false;
	document.main.act.value = 'update';
	document.main.submit();
	return true;
}
function cancelItem(){
	document.main.task.value = 'message';
	document.main.submit();
	return true;
}
$(function(){
	// テーブルの行カラー化
	m3_tableWithScrollbar('messageinput', -1, 0);
});
//]]>
</script>
<div align="center">
{MENU_ITEMS}
<!-- m3:ErrorMessage -->
<form method="post" name="main">
<input type="hidden" name="task" value="message_detail" />
<input type="hidden" name="act" />
<input type="hidden" name="serial" value="{SERIAL}" />
<table width="90%">
<tr><td><label>投稿詳細</label></td><td align="right"><span {_HELP_MESSAGE_RET_BTN}><input type="button" class="button" onclick="cancelItem();" value="戻る" /></span>
</td></tr>
<tr><td colspan="2">
<table id="messageinput" class="simple-table" width="100%">
    <tbody>
        <tr>
	    <td class="table-headside" width="100"><span {_HELP_MESSAGE_TITLE}>タイトル</span></td>
	    <td width="200" >{TITLE}</td>
	    <td class="table-headside" width="100"><span {_HELP_MESSAGE_DATE}>投稿日時</span></td>
	    <td>{REGIST_DT}</td>
	</tr>
        <tr>
	    <td class="table-headside"><span {_HELP_MESSAGE_NO}>No</span></td>
	    <td align="center">{NO}</td>
	    <td class="table-headside"><span {_HELP_MESSAGE_NAME}>名前</span></td>
	    <td><input type="text" name="item_name" value="{NAME}" size="40" maxlength="40" /></td>
	</tr>
	<tr>
            <td class="table-headside"><span {_HELP_MESSAGE_MSG}>内容</span></td>
	    <td colspan="3" height="150"><textarea name="item_message" style="width:100%;height:100%;">{MESSAGE}</textarea></td>
	</tr>
	<tr>
	<td colspan="4" align="right">
<patTemplate:tmpl name="del_button" visibility="hidden">
		<input type="button" class="button" onclick="delItem();" value="削除" />
</patTemplate:tmpl>
<patTemplate:tmpl name="update_button" visibility="hidden">
		<input type="button" class="button" onclick="updateItem();" value="更新" />
</patTemplate:tmpl>
	</td>
	</tr>
    </tbody>
</table>
</td></tr>
</table>
</form>
</div>
</patTemplate:tmpl>
