<patTemplate:tmpl name="_widget">
<!-- m3:ErrorMessage -->
<div id="{CSS_ID}" style="width:100%;text-align:left;padding:10px 0 10px 0;{BBS_STYLE}" >
<div align="center">
<table border="1" cellspacing="7" cellpadding="3" align="center" style="width:95%;{MENU_STYLE}">
 <tr>
  <td>
  <patTemplate:tmpl name="itemlist"><a href="{URL}">{NO}:&nbsp;{SUBJECT}</a><br /></patTemplate:tmpl><br />
  <!--<div align="right"><a href="./kako/"><b>過去ログ倉庫はこちら</b></a></div>-->
  </td>
 </tr>
</table>
</div>
<br />
<div style="margin:0 10px;"><a href="{BBS_URL}"><b>BBSホーム</b></a></div>
</div>
</patTemplate:tmpl>
