<patTemplate:tmpl name="_tmpl">
{ID} {
	float:		left;
	margin-bottom:	1em;
}
{ID} a {
	border-left:	1px solid #fff;
	border-top:	1px solid #CFDEFF;
	padding: 	.75em 1em;
	text-decoration:none;
}
{ID} a, {ID} a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#13a;
}
{ID} li {
	background:		#BDD2FF;
}
{ID} li li {
	background:		#AABDE6;
}
{ID} li li li {
	background:		#9AAEDB;
}
{ID} li:hover, {ID} li.sfHover,
{ID} a:focus, {ID} a:hover, {ID} a:active {
	background:		#CFDEFF;
	outline:		0;
}
<patTemplate:tmpl name="add_vertical" visibility="hidden">
/* menu width customize */
{ID} li {
	width:			10em;
}
{ID} li:hover ul,
{ID} li.sfHover ul {
	left:			10em;
	top:			0;
}
</patTemplate:tmpl>
</patTemplate:tmpl>
